@main("项目审批", "item.index","project") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/item.css")">
} {

    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/item"><i class="fa  fa-share-alt"></i>项目审批</a></li>
                <li><a href="#">待审批项目详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="add">
                        <div class="detailedImg">
                            <p>Logo</p>
                            <img id="projectLogo" src="#">
                        </div>
                    </div>
                    <div class="box">
                        <div class="order">
                            <ul>
                                <li>标题：<span id="projectTitle"></span></li>
                                <li>名称一句话简介：<span id="shortIntroduction"></span></li>
                                <li>地区：<span id="loaction"></span></li>
                                <li>类型：<span id="projectType"></span></li>
                                <li>项目详情：<span id="introduction"></span></li>
                                <li id="images">
                                    <p>项目介绍图</p>
                                </li>
                                <li>述求：<span id="appeal"></span></li>
                                <li>联系人：<span id="contactPerson"></span></li>
                                <li>联系电话：<span id="contactPhone"></span></li>
                                <li>联系地址：<span id="contactAddress"></span></li>
                                <li>官网：<span><a href="#" id="website"></a></span></li>
                                <li>邮箱：<span id="email"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div id="apply">
                        <button type="button" id="yesBtn" class="btn btn-default pull-right col-md-1 col-lg-1" >通过</button>
                        <button type="button" class="btn btn-default pull-right col-md-1 col-lg-1" data-toggle="modal" data-target="#myModalWait">拒绝</button>
                    </div>
                    <div id="underway">
                        <button id="colseBtn" type="button" class="btn btn-primary pull-right col-md-1 col-lg-1" >删除</button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>


    <div class="modal fade" id="myModalWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="noBtn" type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/item/detail.js")"></script>
}



