@main("项目审批", "item.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/item.css")">
} {

    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/item"><i class="fa fa-heart"></i>项目审批</a></li>
                <li><a href="#">待审批项目详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="add">
                        <div class="detailedImg">
                            <p>Logo</p>
                            <img src="../dist/img/avatar.png">
                        </div>
                    </div>
                    <div class="box">
                        <div class="order">
                            <ul>
                                <li>标题：<span>Touchjet</span></li>
                                <li>名称一句话简介：<span>新型的课触摸式投影仪</span></li>
                                <li>地区：<span>杭州</span></li>
                                <li>类型：<span>专业工具</span></li>
                                <li>项目详情：<span>通过无线连接到同Android平台的移动设备，并投射屏幕内容</span></li>
                                <li>
                                    <p>项目介绍图</p>
                                    <img src="../dist/img/avatar.png">
                                    <img src="../dist/img/avatar.png">
                                    <img src="../dist/img/avatar.png">
                                </li>
                                <li>述求：<span>目前项目需要融资三千万</span></li>
                                <li>联系人：<span>张三</span></li>
                                <li>联系电话：<span>23456789</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default pull-right col-md-1 col-lg-1" >通过</button>
                        <button type="button" class="btn btn-default pull-right col-md-1 col-lg-1" data-toggle="modal" data-target="#myModal">拒绝</button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}



