<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>商户后台-主页</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-jvectormap-1.2.2.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/_all-skins.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/homepage.css")">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">

                    <!-- Logo -->
                <a href="/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span>
                        <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b>LTE</span>
                </a>

                    <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@routes.Assets.at("images/user2-160x160.jpg")" class="user-image" alt="User Image">
                                    <span class="hidden-xs">欢迎你张三</span>
                                </a>
                                <ul class="dropdown-menu">
                                        <!-- User image -->
                                    <li class="user-header">
                                        <img src="@routes.Assets.at("images/user2-160x160.jpg")" class="img-circle" alt="User Image">

                                        <p>
                                            Alexander Pierce - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                        <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
                                            <!-- /.row -->
                                    </li>
                                        <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <span class="label label-info"><a href="#" >退出</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </header>

            <div class="content-wrapper row">
                <section class="content">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
                    </ol>

                        <!-- TABLE: LATEST ORDERS -->
                    <div class="col-md-12 col-lg-10">

                        <div class="nav-tabs-custom">
                            <button class="home-page-export" id="home_page_export">导出</button>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">主页</a></li>
                                <li><a href="#tab_2" data-toggle="tab">验证序列号</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="table-responsive">
                                    <table class="table no-margin" id="Table">

                                    </table>
                                    @*<div class="dropdown pull-right" >
                                        <nav>
                                            <ul class="pagination">
                                                <li class="disabled"><a href="#">&laquo;</a></li>
                                                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">6</a></li>
                                                <li><a href="#">7</a></li>
                                                <li><a href="#">8</a></li>
                                                <li><a href="#">9</a></li>
                                                <li class="disabled"><a href="#"></a></li>


                                            </ul>
                                        </nav>
                                            <!-- /.box -->
                                    </div>*@

                                    <div class="jqueryPage" id="jqueryPage">

                                    </div>
                                    </div>
                                </div>
                                    <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <input type="text" class="form-control" id="verification_input" placeholder="请输入验证码">
                                    <span class="verification-message" id="verification_message">验证码不能为空</span>
                                    <button class="btn btn-block btn-default btn-flat" id="verification_btn">验证</button>
                                </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane -->
                            </div>
                                <!-- /.tab-content -->
                        </div>
                            <!-- nav-tabs-custom -->
                    </div>
                </section>
            </div>

            <div id="eacl"  >
                <div class="box box-primary">
                    <div class="merchart-history-close" id="merchart_history_close">x</div>
                    <div class="box-header">
                        <h3 class="box-title">日期</h3>
                    </div>
                    <div class="box-body">
                            <!-- Date -->
                        <div class="form-group">
                            <label>起始时间</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker">
                            </div>
                                <!-- /.input group -->
                        </div>
                            <!-- /.form group -->

                            <!-- Date range -->
                        <div class="form-group">
                            <label>结束时间</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="Kobe">
                            </div>
                                <!-- /.input group -->
                        </div>
                            <!-- /.form group -->

                            <!-- Date and time range -->

                    </div>
                        <!-- Date and time range -->

                        <!-- /.form group -->
                    <div class="home-page-message" id="home_page_message">请选择起始或结束时间</div>
                    <div class="home-page-message" id="home_page_time_message">起始时间不应在结束时间之后</div>

                    <button type="btn" class="btn btn-default pull-left" id="comfirm">确定</button>
                    <button type="btn" class="btn btn-primary" id="clear">清除</button>
                        <!-- /.box -->
                </div>
            </div>
        </div>

        <script src="@routes.Assets.at("javascripts/jquery-2.2.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/demo.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.zh-CN.js")"></script>
        <script src="@routes.Assets.at("javascripts/config/global_config.js")"></script>
        <script src="@routes.Assets.at("javascripts/jqueryPage.js")"></script>
        <script src="@routes.Assets.at("javascripts/home_page.js")"></script>
    </body>
</html>