<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>dffdf</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-jvectormap-1.2.2.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/AdminLTE.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/_all-skins.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/homepage.css")">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">

                    <!-- Logo -->
                <a href="/" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span>
                        <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b>LTE</span>
                </a>

                    <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@routes.Assets.at("images/user2-160x160.jpg")" class="user-image" alt="User Image">
                                    <span class="hidden-xs">欢迎你张三</span>
                                </a>
                                <ul class="dropdown-menu">
                                        <!-- User image -->
                                    <li class="user-header">
                                        <img src="@routes.Assets.at("images/user2-160x160.jpg")" class="img-circle" alt="User Image">

                                        <p>
                                            Alexander Pierce - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                        <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
                                            <!-- /.row -->
                                    </li>
                                        <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <span class="label label-info"><a href="#" >退出</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </header>

            <div class="content-wrapper row">
                <section class="content">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
                    </ol>

                        <!-- TABLE: LATEST ORDERS -->
                    <div class="col-md-12 col-lg-10">

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Tab 1</a></li>
                                <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="table-responsive">
                                    <table class="table no-margin" id="Table">
                                        <tr>
                                            <td>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">转账</span><span class="rg">+5元</span>
                                                </p>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">来源:</span><span class="lt">张三</span><span class="lt">100001</span><span class="rg">2015-10-11 12:14:34</span>
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">转账</span><span class="rg">+5元</span>
                                                </p>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">来源:</span><span class="lt">张三</span><span class="lt">100001</span><span class="rg">2015-10-11 12:14:34</span>
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">转账</span><span class="rg">+5元</span>
                                                </p>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">来源:</span><span class="lt">张三</span><span class="lt">100001</span><span class="rg">2015-10-11 12:14:34</span>
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">转账</span><span class="rg">+5元</span>
                                                </p>
                                                <p style="height:36px;padding:10px">
                                                    <span class="lt">来源:</span><span class="lt">张三</span><span class="lt">100001</span><span class="rg">2015-10-11 12:14:34</span>
                                                </p>
                                            </td>

                                        </tr>
                                    </table>
                                        <div class="dropdown pull-right" >
                                            <nav>
                                                <ul class="pagination">
                                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">6</a></li>
                                                    <li><a href="#">7</a></li>
                                                    <li><a href="#">8</a></li>
                                                    <li><a href="#">9</a></li>
                                                    <li class="disabled"><a href="#">&raquo;</a></li>


                                                </ul>
                                            </nav>
                                                <!-- /.box -->
                                        </div>
                                        </div>
                                </div>
                                    <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <input type="text" class="form-control" placeholder="请输入验证码">
                                    <button class="btn btn-block btn-default btn-flat">验证</button>
                                </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane -->
                            </div>
                                <!-- /.tab-content -->
                        </div>
                            <!-- nav-tabs-custom -->
                    </div>
        </div>

        <script src="@routes.Assets.at("javascripts/jquery-2.2.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/demo.js")"></script>


    </body>
</html>