@project_main("我的项目"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/myproject.css")">
} {
    <div class="content-wrapper row">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>我的活动</a></li>
            </ol>
            <div class="box box-info">
                <div class="table-responsive">
                    <table class="table no-margin" id="Table">
                        <tr>
                            <td>
                                <span class="lf">上金财神谷项目</span>
                                <span class="Exportlist"><a href="">导出名单</a></span>
                            </td>

                        </tr>



                    </table>

                        <!-- /.box -->
                </div>

                    <!-- /.col -->
        </section>
        <div class="dropdown pull-right" id="posi">
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#">&raquo;</a></li>


                </ul>
            </nav>
                <!-- /.box -->
        </div>
    </div>
} {


}
