@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker3.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="#">订单</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">全部</a></li>
                            <li class=""><a href="#wait" data-toggle="tab" aria-expanded="true">待发货</a></li>
                            <li class=""><a href="#out" data-toggle="tab" aria-expanded="false">已发货</a></li>
                            <li class=""><a href="#receive" data-toggle="tab" aria-expanded="false">已收货</a></li>
                            <li class=""><a href="#close" data-toggle="tab" aria-expanded="false">关闭订单</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="all">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="form-group col-xs-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="reservation">
                                            </div>
                                                <!-- /.input group -->
                                        </div>
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>内容</th>
                                                        <th>购买人</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                        <th>订单状态</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>100001</th>
                                                        <th>财神饼等3件商品</th>
                                                        <th>张三</th>
                                                        <th>12345678911</th>
                                                        <th>查看详情</th>
                                                        <th>
                                                            <span>待发货</span>
                                                        </th>
                                                        <th>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target="#myModal">关闭</a></span>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li class="active"><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="wait">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>内容</th>
                                                        <th>购买人</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li class="active"><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="out">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm" >
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>内容</th>
                                                        <th>购买人</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li class="active"><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="receive">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm" >
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>内容</th>
                                                        <th>购买人</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li class="active"><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="close">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>订单编号</th>
                                                        <th>内容</th>
                                                        <th>购买人</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                        <th>关闭人</th>
                                                        <th>关闭时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li class="active"><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                        Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写关闭理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="closeNews" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
} {
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.zh-CN.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/shopping/index.js")"></script>
}

