
@main("商城订单管理", "shopping.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/shopping_frame_detail.css")">
} {

    <div class="content-wrapper" >
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping/frame"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="javascript:;" id="nav"></a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping/frame">返回</a>
                <button class="btn turn" id="keep">保存</button>

                <div class="add">
                    <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                        <div  id="fsUploadProgress">

                            <div class="addImg btn btn-default" id="container">
                                <a id="pickfiles" href="#" >
                                    <span>点击上传图片</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>

                    <div class="input-group" id="inputGroup">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-tags"></i></button>
                        </div>
                        <input type="text" class="form-control" placeholder="大类名称" id="title">
                    </div>

                <div class="father">

                </div>
                <button class="btn btn-default" id="addgr">新增</button>

            </div>
        </section>

            <!-- /.content -->
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12 eacho">
                                <h4>确定删除该类别?</h4>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal" id="clear">取消</button>
                    <button type="button" class="btn btn-default btn-sure" data-dismiss="modal" id="comfirm">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/upload.js")"></script>
    <script src="@routes.Assets.at("javascripts/shopping_detail.js")"></script>
}


