
@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping"><i class="fa fa-cart-plus"></i>商城订单管理</a></li>
                <li><a href="#">已发货详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping">返回</a>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="box">
                        <p class="spot">订单信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    下单时间：<span id="downTime"></span>
                                </li>
                                <li>
                                    商品
                                    <ul id="downGoods">

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">收货人信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    姓名：<span id="userName"></span>
                                </li>
                                <li>
                                    联系方式：<span id="userPhone"></span>
                                </li>
                                <li>
                                    地址：
                                    <span id="address"></span>
                                </li>
                                <li>
                                    邮编：
                                    <span id="zipcode"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">物流信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    物流公司：<span id="company"></span>
                                </li>
                                <li>
                                    单号：<span id="orderNo"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/shopping/shopping_out.js")"></script>
}


