@main("商城订单管理", "shopping.mail") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="#">邮费模板</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="input-group pull-right input-group-sm">
                            <a href="/shopping/mail/detail" class="btn btn-default btn-sm pull-right">新建</a>
                        </div>
                    </div>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <colgroup>
                                <col class="col-xs-5">
                                <col class="col-xs-5">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="users">
                                <tr>
                                    <th>模板名称</th>
                                    <th>
                                        <span class="label label-info"><a href="/shopping/mail/detail">编辑</a></span>
                                        <span class="label label-info"><a href="#">删除</a></span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

} {
    @*<script src="@routes.Assets.at("javascripts/controller/shopping/mail.js")"></script>*@
}

