@main("商城订单管理", "shopping.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/shopping_frame_details.css")">

} {

    <div class="content-wrapper" >
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping/frame"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="javascript:;" id="nav"></a>货架</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping/frame">返回</a>
                <div>
                    编号: <input type="text" class="form-control address" id="shopping_frame_details_given_id">
                </div>
                <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_1">请输入编号</span>

                <div class="add">
                    <p>图片:</p>
                    <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                        <div  id="fsUploadProgress">

                            <div class="addImg" id="container">
                                <a id="pickfiles" href="#" >
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>选择文件</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-frame-details-hint">（图片最多添加9张）</div>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_2">请至少上传一张图片</span>
                </div>
                <div>
                    标题: <input type="text" class="form-control address" id="shopping_frame_details_name">
                </div>
                <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_3">请输入标题</span>

                <div id="specifications">
                    <p>规格尺寸</p>
                    <table class="table no-margin">
                        <thead>
                            <th>头图</th>
                            <th>颜色</th>
                            <th>重量</th>
                            <th>规格</th>
                            <th>财神币</th>
                            <th>积分</th>
                            <th>数量</th>
                            <th></th>
                        </thead>
                        <tbody id="boxInfo">

                        </tbody>
                    </table>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_4">请填写规格尺寸</span>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_chi_cun1">请输入数字（重量、财神币）</span>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_chi_cun2">请输入正整数数字（积分、数量）</span>
                    <table id="Table">
                            <tr>
                                <td>厂商:</td>
                                <td> <input type="text" class="form-control" placeholder="xx厂商" value="" id="shopping_frame_details_manufacturer"></td>
                                <td> 发货地:</td>
                                <td>
                                    <select class="form-control select2 shopping_frame_details_select" id="default shopping_frame_details_select">

                                    </select>
                                </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> <button class="btn btn-default add">新增</button></td>
                            </tr>
                    </table>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_5">请填写厂商</span>

                </div>
                <div class="category">
                    <h5>类目选择</h5>

                </div>
                <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_6">请至少选择一个选择类目列表</span>

                <div id="Freight">
                    运费模板:
                        <select class="form-control select2 shopping-frame-details-template">

                        </select>
                </div>

                <div class="add">
                    <p>介绍图片:</p>
                    <div role="tabpanel" id="imagebox" class="tab-pane fade in active" aria-labelledby="demo-tab">
                        <div  class="fsUploadProgress">

                            <div class="addImg" id="pushadd">
                                <a href="#" >
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>选择文件</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-frame-details-hint">（图片最多添加9张）</div>
                    <span class="shopping-frame-details-common-hint" id="shpping_frame_details_hint_7">请至少上传一张图片</span>

                    <div class="footer">
                        <button class="btn btn-default black shopping-frame-details-remove" id="delete">删除</button>
                        <button class="btn btn-default black" id="keep">保存到仓库</button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>
} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/upload.js")"></script>
    @*<script src="@routes.Assets.at("javascripts/controller/uploads.js")"></script>*@
    <script src="@routes.Assets.at("javascripts/shopping_frame_details.js")"></script>
}

