@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping"><i class="fa fa-cart-plus"></i>商城订单管理</a></li>
                <li><a href="#">待发货详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping">返回</a>
                    <!-- /.box-header -->
                <div class="box-body" id="detail">
                    <div class="box">
                        <p class="spot">订单信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    下单时间：<span id="downTime"></span>
                                </li>
                                <li>
                                    商品
                                    <ul id="downGoods">

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">收货人信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    姓名：<span id="userName"></span>
                                </li>
                                <li>
                                    联系方式：<span id="userPhone"></span>
                                </li>
                                <li>
                                    地址：
                                    <span id="address"></span>
                                </li>
                                <li>
                                    邮编：
                                    <span id="zipcode"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /.content -->
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写关闭理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="closeNews" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deliverCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写物流公司</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <form role="form">
                                    <select class="form-control">
                                        <option>顺丰</option>
                                        <option>申通</option>
                                        <option>圆通</option>
                                    </select>
                                    <p>请填写物流单号</p>
                                    <input type="text" class="form-control" placeholder="请填写快递单号">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="receive" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/shopping/detail.js")"></script>
}
