
@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping"><i class="fa fa-cart-plus"></i>商城订单管理</a></li>
                <li><a href="#">已发货详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                @*<div class="box-header">*@
                    @*<div class="box-tools">*@
                        @*<div class="input-group pull-right input-group-sm">*@
                            @*<button type="submit" class="btn btn-default pull-right"><a href="/shopping">返回</a></button>*@
                        @*</div>*@
                    @*</div>*@
                @*</div>*@
                <button type="submit" class="btn turn"><a href="/shopping">返回</a></button>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="box">
                        <p class="spot">订单信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    下单时间：<span>2013-03-01 12:12:12</span>
                                </li>
                                <li>
                                    商品
                                </li>
                                <li class="commodity">
                                    <span>财神饼</span>
                                    <i>X1</i>
                                </li>
                                <li class="commodity">
                                    <span>财神水</span>
                                    <i>X2</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">收货人信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    姓名：<span>张三</span>
                                </li>
                                <li>
                                    联系方式：<span>12345678933</span>
                                </li>
                                <li>
                                    地址：
                                    <span>浙江省杭州市滨江区天恒大厦</span>
                                </li>
                                <li>
                                    邮编：
                                    <span>31000</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">物流信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    物流公司：<span>顺丰</span>
                                </li>
                                <li>
                                    单号：<span>234567890</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


