
@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="shopping">
            <div class="row newsTop">
                <button type="button" class="btn btn-default "><a href="/controller/shopping">返回</a></button>
            </div>
            <div class="row">
                <p>订单信息</p>
                <div class="order">
                    <ul>
                        <li>
                            下单时间：<span>2013-03-01 12:12:12</span>
                        </li>
                        <li>
                            商品
                        </li>
                        <li class="commodity">
                            <span>财神饼</span>
                            <span>X1</span>
                        </li>
                        <li class="commodity">
                            <span>财神水</span>
                            <span>X2</span>
                        </li>
                    </ul>
                </div>
                <p>收货人信息</p>
                <div class="client">
                    <ul>
                        <li>
                            姓名：<span>张三</span>
                        </li>
                        <li>
                            联系方式：<span>12345678933</span>
                        </li>
                        <li>
                            地址：
                            <span>浙江省杭州市滨江区天恒大厦</span>
                        </li>
                        <li>
                            邮编：
                            <span>31000</span>
                        </li>
                    </ul>
                </div>
                <p>物流信息</p>
                <div class="transport">
                    <ul>
                        <li>
                            物流公司：<span>顺丰</span>
                        </li>
                        <li>
                            单号：<span>234567890</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


