@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="#" class="stateName"></a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping">返回</a>
                    <!-- /.box-header -->
                <div class="box-body" id="detail">
                    <div class="box">
                        <p class="spot">订单信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    下单时间：<span id="downTime"></span>
                                </li>
                                <li>
                                    下单人：<span id="downName"></span>
                                </li>
                                <li>
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>商品</th>
                                                    <th>单价</th>
                                                    <th>数量</th>
                                                    <th>发货人</th>
                                                    <th></th>
                                                    <th>物流公司</th>
                                                    <th>物流单号</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="downGoods">
                                                @*<tr>*@
                                                    @*<th>*@
                                                        @*<span>财神饼</span>*@
                                                        @*规格:  <span>大</span>*@
                                                        @*颜色:  <span>金</span>*@
                                                    @*</th>*@
                                                    @*<th>¥<span>5</span></th>*@
                                                    @*<th>X<span>1</span></th>*@
                                                    @*<th>宁海</th>*@
                                                    @*<th>已发货</th>*@
                                                    @*<th>顺丰</th>*@
                                                    @*<th>123456789</th>*@
                                                    @*<th>*@
                                                        @*<span class="label label-info"><a href="#">已退货</a></span>*@
                                                        @*<span class="label label-info"><a href="#">详情</a></span>*@
                                                    @*</th>*@
                                                @*</tr>*@
                                                @*<tr>*@
                                                    @*<th>*@
                                                        @*<span>财神饼</span>*@
                                                        @*规格:  <span>大</span>*@
                                                        @*颜色:  <span>金</span>*@
                                                    @*</th>*@
                                                    @*<th>¥<span>5</span></th>*@
                                                    @*<th>X<span>1</span></th>*@
                                                    @*<th>宁海</th>*@
                                                    @*<th>*@
                                                        @*<input  data-spec="3" data-num="2" class="goodsState" data-id="111111" type="checkbox">*@
                                                    @*</th>*@
                                                    @*<th>顺丰</th>*@
                                                    @*<th>123456789</th>*@
                                                    @*<th>*@
                                                        @*<span class="label label-info label-text-left"><a href="#" data-toggle="modal" data-target="#goodsRefund">退货</a></span>*@
                                                    @*</th>*@
                                                @*</tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p class="spot">收货人信息</p>
                        <div class="order">
                            <ul>
                                <li>
                                    姓名：<span id="userName"></span>
                                </li>
                                <li>
                                    联系方式：<span id="userPhone"></span>
                                </li>
                                <li>
                                    地址：
                                    <span id="address"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- /.content -->
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写关闭理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="closeNews" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deliverCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写物流公司</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <form role="form">
                                    <select class="form-control" id="delivery">
                                    </select>
                                    <p>请填写物流单号</p>
                                    <input type="text" class="form-control" placeholder="请填写快递单号">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="receive" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="goodsRefund" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写退货理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="refundNews" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/shopping/detail.js")"></script>
}
