@main("商城订单管理", "shopping.mail") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shopping.css")">
} {

    <div class="content-wrapper" >
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/shopping/mail"><i class="fa fa-cart-plus"></i>商城</a></li>
                <li><a href="#">邮费模板</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/shopping/mail">返回</a>
                <div class="box-body">
                    <div class="contentName">
                        <div class="form-group">
                            <label>模板名称</label>
                            <div class="input-group" >
                                <div class="input-group-addon">
                                    <i class="fa fa-folder"></i>
                                </div>
                                <input type="text" class="form-control" id="modelID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>默认首重(kg)</label>
                            <div class="input-group" >
                                <div class="input-group-addon">
                                    <i class="fa fa-anchor"></i>
                                </div>
                                <input type="text" class="form-control" id="first">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>默认续重(kg)</label>
                            <div class="input-group" >
                                <div class="input-group-addon">
                                    <i class="fa fa-anchor"></i>
                                </div>
                                <input type="text" class="form-control" id="second">
                            </div>
                        </div>
                        <div class="form-group">
                            <label><a class="btn btn-default" href="#" data-toggle="modal" data-target="#deliverCompany ">新增省份</a></label>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <colgroup>
                                <col class="col-xs-5">
                                <col class="col-xs-1">
                                <col class="col-xs-1">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>省份</th>
                                    <th>首重(1kg)</th>
                                    <th>续重(1kg)</th>
                                </tr>
                            </thead>
                            <tbody id="mailTbody">

                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button type="button" id="closeGoods" class="btn btn-default btn-sm col-md-1 col-lg-1 pull-right"><a href="#">删除</a></button>
                        <button type="button" id="saveGoods" class="btn btn-default btn-sm col-md-1 col-lg-1 pull-right"><a href="#">保存</a></button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>
    <div class="modal fade" id="deliverCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增省份</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <form role="form">
                                    <p>选择省份</p>
                                    <select class="form-control" id="provinces">
                                    </select>
                                    <div class="form-group">
                                        <label>新增首重</label>
                                        <div class="input-group" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-anchor"></i>
                                            </div>
                                            <input id="addFirstWeight" type="text" class="form-control" placeholder="首重">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>新增续重</label>
                                        <div class="input-group" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-anchor"></i>
                                            </div>
                                            <input id="addSecondWeight" type="text" class="form-control" placeholder="续重">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="addProvinces" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/shopping/mail_detail.js")"></script>
}


