
@main("商城订单管理", "shopping.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper row">


        <div class="row newsTop">
            <button type="button" class="btn btn-default col-md-2 col-lg-2"><a href="#">返回</a></button>
        </div>
        <div class="row add">
            <p>图片</p>
            <img src="#">
            <div class="addImg">+</div>
        </div>
        <div class="row col-md-8 col-lg-8 addNews">
            <p>标题</p>
            <input type="text" class=" form-control" placeholder="项目名称">
        </div>
        <div class="row col-md-12 col-lg-12 addNews">
            <p class="money">价格</p>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <p>人民币</p>
                    <input type="number" class=" form-control">
                </div>
                <div class="col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1">
                    <p>财神币</p>
                    <input type="number" class=" form-control">
                </div>
                <div class="col-md-8 col-lg-8">
                    <p>简介</p>
                    <div id="wysiwyg"></div>
                </div>
            </div>
        </div>
        <div class="row col-md-4 col-lg-4 col-md-offset-8 col-lg-offset-8">
            <button type="button" class="btn btn-info  col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1"><a href="#">删除</a></button>
            <button type="button" class="btn btn-info  col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1"><a href="#">保存</a></button>
        </div>
    </div>
        <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


