
@main("商城订单管理", "shopping.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/shopping_frame.css")">
} {

    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-cart-plus"></i>类别</a></li>
                <li><a href="#">商品</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#goods" data-toggle="tab" aria-expanded="true">类别</a></li>
                            <li class=""><a href="#ticket" data-toggle="tab" aria-expanded="false">商品</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="goods">
                                <div class="box">
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <button class="btn btn-default" id="addtr">新增</button>
                                        <div class="row">
                                            <table class="table no-margin" id="shopping_frame_type_table">
                                                <thead>
                                                    <th>大类名称</th>
                                                    <th>操作</th>
                                                    <th></th>
                                                    <th></th>
                                                </thead>
                                                <tbody>

                                                </tbody>



                                            </table>


                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="ticket">

                                <div class="input-group pull-right input-group-sm">
                                    <input id="textUser" type="text" name="table_search" class="form-control pull-right">

                                    <div class="input-group-btn">
                                        <button id="searchUser" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="father">

                                <div class="form-group">
                                    <select class="form-control select2 shopping_frame_broad_heading" id="classNames ">
                                        <option value="qb_dl">全部</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control select2 shopping_frame_second_type" id="childNames">
                                        <option value="qb_el">全部</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control select2" id="default">
                                        <option value="默认">默认</option>
                                    </select>
                                </div>
                            </div>
                                <button class="btn btn-default" id="addgr">新增</button>
                                <table class="table no-margin" id="shopping_frame_goods_table">
                                    <thead>
                                        <th>编号</th>
                                        <th>商品名称</th>
                                        <th>单价(最低价)</th>
                                        <th>操作</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12 eacho">
                                <h4>确定删除该类别?</h4>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="clear">取消</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="comfirm">确定</button>
                </div>
            </div>
        </div>
    </div>



} {
    <script src="@routes.Assets.at("javascripts/shopping_frame.js")"></script>
}



