@main("商城订单管理", "shopping.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    
    <div class="content-wrapper">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="shopping">
            <div class="row newsTop">
                <button type="button" class="btn btn-default "><a href="/controller/shopping">返回</a></button>
            </div>
            <div class="row">
                <p>订单信息</p>
                <div class="order">
                    <ul>
                        <li>
                            下单时间：<span>2013-03-01 12:12:12</span>
                        </li>
                        <li>
                            商品
                        </li>
                        <li class="commodity">
                            <span>财神饼</span>
                            <span>X1</span>
                        </li>
                        <li class="commodity">
                            <span>财神水</span>
                            <span>X2</span>
                        </li>
                    </ul>
                </div>
                <p>收货人信息</p>
                <div class="client">
                    <ul>
                        <li>
                            姓名：<span>张三</span>
                        </li>
                        <li>
                            联系方式：<span>12345678933</span>
                        </li>
                        <li>
                            地址：
                            <span>浙江省杭州市滨江区天恒大厦</span>
                        </li>
                        <li>
                            邮编：
                            <span>31000</span>
                        </li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">关闭</button>
            <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#abc">发货</button>
        </div>

            <!-- /.content -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写关闭理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="abc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写物流公司</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <form role="form">
                                    <select class="form-control">
                                        <option>顺丰</option>
                                        <option>申通</option>
                                        <option>圆通</option>
                                    </select>
                                    <p>请填写物流单号</p>
                                    <input type="text" class="form-control" placeholder="请填写快递单号">
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}
