@main("财神像管理", "wealth.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/wealth.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-user-secret"></i>财神像管理</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div id="caishen" class="add">
                        <p>财神像</p>
                        <div class="clear">
                            <button type="button" class="btn btn-default btn-sm col-md-1 col-lg-1 "><a data-toggle="modal" data-target="#addcaishen">新增财神像</a></button>
                        </div>
                        <div class="caishen clear">

                        </div>
                    </div>
                    <p>十二生肖财神</p>
                    <div id="chinese_sheng_xiao" class="clear">
                        @*<div class="add clear">
                            <div id="mouse" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="mouses">
                                        <a href="#" ><span>鼠</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>鼠</p>
                        </div>
                        <div class="add clear">
                            <div id="cattle" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="cattles">
                                        <a href="#" ><span>牛</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>牛</p>
                        </div>
                        <div class="add clear">
                            <div id="tiger" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="tigers">
                                        <a href="#" ><span>虎</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>虎</p>
                        </div>
                        <div class="add clear">
                            <div id="rabbit" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="rabbits">
                                        <a href="#" ><span>兔</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>兔</p>
                        </div>
                        <div class="add clear">
                            <div id="dragon" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="dragons">
                                        <a href="#" ><span>龙</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>龙</p>
                        </div>
                        <div class="add clear">
                            <div id="snake" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="snakes">
                                        <a href="#" ><span>蛇</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>蛇</p>
                        </div>
                        <div class="add clear">
                            <div id="horse" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="horses">
                                        <a href="#" ><span>马</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>马</p>
                        </div>
                        <div class="add clear">
                            <div id="sheep" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="sheeps">
                                        <a href="#" ><span>羊</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>羊</p>
                        </div>
                        <div class="add clear">
                            <div id="monkey" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="monkeys">
                                        <a href="#" ><span>猴</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>猴</p>
                        </div>
                        <div class="add clear">
                            <div id="chicken" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="chickens">
                                        <a href="#" ><span>鸡</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>鸡</p>
                        </div>
                        <div class="add clear">
                            <div id="dog" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="dogs">
                                        <a href="#" ><span>狗</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>狗</p>
                        </div>
                        <div class="add clear">
                            <div id="pig" role="tabpanel" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg" id="pigs">
                                        <a href="#" ><span>猪</span></a>
                                    </div>
                                </div>
                            </div>
                            <p>猪</p>
                        </div>*@
                        <div class="clear">
                            <button type="button" class="btn btn-default btn-sm col-md-1 col-lg-1 "><a data-toggle="modal" data-target="#addshengxiao">新增生肖像</a></button>
                        </div>
                        <div class="sheng-xiao-xiang clear">

                        </div>
                    </div>
                    <p>背景音乐</p>
                    <div id="backgroundMusic" class="music clear">
                        <div class="add">
                            <div role="tabpanel" id="music" class="tab-pane fade in active pull-left mRight" aria-labelledby="demo-tab">
                                <div>
                                    <div class="addImg btn btn-default btn-sm btn-huanyuan" id="musics">
                                        <a  href="#" >
                                            <span>上传音乐</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <button type="button" id="saveGoods" class="btn btn-default btn-sm col-md-1 col-lg-1 pull-right"><a href="#">保存</a></button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>
    <div class="modal fade" id="addcaishen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增财神像</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <label>生肖像名字</label>
                        <div class="input-group" >
                            <div class="input-group-addon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <input  type="text" class="form-control ticketName" >
                        </div>
                    </div>
                    <div class="add">
                        <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress">

                                <div class="btn btn-default" id="container">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传图片</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="wealth-index-message" id="wealth_index_message">财神像名字和图片不能为空</span>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ticketCancel" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="addcaishenBtn" type="button" class="btn btn-default">新增</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editorcaishen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑财神像</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <label>财神像名字</label>
                        <div class="input-group" >
                            <div class="input-group-addon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <input  type="text" class="form-control ticketName" id="wealth_index_caishenxiang_input" >
                        </div>
                    </div>
                    <div class="add">
                        <div role="tabpanel" id="addImgs_edit" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div id="fsUploadProgress_edit">
                                <div class="btn btn-default" id="container_edit">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传图片</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ticketCancel" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="editcaishenBtn" type="button" class="btn btn-default">保存</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addshengxiao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增生肖像</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <label>生肖像名字</label>
                        <div class="input-group" >
                            <div class="input-group-addon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <input  type="text" class="form-control ticketName_shengxiao" >
                        </div>
                    </div>
                    <div class="add">
                        <div role="tabpanel" id="addImgs_shengxiao_add" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress">

                                <div class="btn btn-default" id="container_shengxiao_add">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传图片</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="wealth-index-message" id="wealth_index_message_sheng_xiao">财神像名字和图片不能为空</span>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ticketCancel" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="addshengxiaoBtn" type="button" class="btn btn-default">新增</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/upload.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/wealth/index.js")"></script>
}