@main("统计", "statistics.index","statistic") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/statistics.css")">
} {

    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-pie-chart"></i>统计</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#user" data-toggle="tab" aria-expanded="true">用户信息</a></li>
                            <li class=""><a href="#consume" data-toggle="tab" aria-expanded="false">消费行为</a></li>
                            <li class=""><a href="#misc" data-toggle="tab" aria-expanded="false">数据分析</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="user">
                                <div class="box overDiv">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4">
                                                <!-- small box -->
                                            <div class="small-box bg-aqua">
                                                <div class="inner">
                                                    <h4>注册用户数</h4>

                                                    <p id="totalUser"></p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-user-plus"></i>
                                                </div>
                                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4">
                                                <!-- small box -->
                                            <div class="small-box bg-yellow">
                                                <div class="inner">
                                                    <h4>男性</h4>

                                                    <p id="male">800000       55%</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa  fa-mars"></i>
                                                </div>
                                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4">
                                                <!-- small box -->
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <h4>女性</h4>

                                                    <p id="female">700000       45%</p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-venus"></i>
                                                </div>
                                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">性别比例</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div id="sex">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-success">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">年龄段</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div id="age">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">地区</h3>
                                                </div>
                                                <div class="box-body" style="width: 50%;float: left;">
                                                    <div id="map">

                                                    </div>
                                                </div>
                                                <div class="box-body" style="width: 50%;float: left;">
                                                    <div id="city" >

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane " id="consume">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">用户信息</h3>
                                        <a class="btn btn-default btn-sm pull-right" href="#">导出</a>
                                    </div>
                                    <div class="box-body">
                                            <!-- Date -->
                                        <div class="form-group">
                                            <label>选择时间: </label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="userDate">
                                            </div>
                                                <!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label>订单类型:</label>
                                            <select class="form-control select2">
                                                <option selected="selected">全部</option>
                                                <option>待发货</option>
                                                <option>已发货</option>
                                                <option>关闭</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>下单人:</label>
                                            <input type="text" class="form-control my-colorpicker1" placeholder="下单人(非必填)">
                                        </div>

                                    </div>
                                        <!-- /.box-body -->
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">商品信息:</h3>
                                        <a class="btn btn-default btn-sm pull-right" href="#">导出</a>
                                    </div>
                                    <div class="box-body">
                                            <!-- Date -->
                                        <div class="form-group">
                                            <label>选择时间: </label>

                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="goodsDate">
                                            </div>
                                                <!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label>订单类型:</label>
                                            <select class="form-control select2">
                                                <option selected="selected">全部</option>
                                                <option>待发货</option>
                                                <option>已发货</option>
                                                <option>关闭</option>
                                            </select>
                                        </div>
                                    </div>
                                        <!-- /.box-body -->
                                </div>
                            </div>
                            <div class="tab-pane" id="misc">
                                <div class="box ">
                                    <div class="row">
                                        <div class="overDiv">
                                            <div class="col-lg-4 col-sm-4">
                                                    <!-- small box -->
                                                <div class="small-box bg-green">
                                                    <div class="inner">
                                                        <h4>在线人数</h4>

                                                        <p>12,312</p>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">在线时间</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div id="onDate">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-success">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">供奉时间</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div id="inDate">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="box box-danger">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">线下商户消费统计</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="overDiv">
                                                        <select class="form-control">
                                                            <option selected="selected">2016年</option>
                                                            <option>2015年</option>
                                                            <option>2014年</option>
                                                            <option>2013年</option>
                                                        </select>
                                                        <select class="form-control">
                                                            <option selected="selected">1月</option>
                                                            <option>2月</option>
                                                            <option>3月</option>
                                                            <option>4月</option>
                                                            <option>5月</option>
                                                            <option>6月</option>
                                                        </select>
                                                        <button type="button" class="btn btn-default btn-sm">导出</button>
                                                    </div>
                                                    <div id="commercial">

                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </div>
                            <!-- /.tab-content -->
                </div>
                        <!-- /.nav-tabs-custom -->
            </div>
        </section>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/daterangepicker.js")"></script>
    <script src="@routes.Assets.at("javascripts/echarts.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/statistics/index.js")"></script>
}


