
.content input{
    display: inline-block;

}
#search{
    float:left;
    width: 20%;
    margin-left: 62%;
    margin-top: 1%;

}
.father{
    width:100%;
}
.box-body{
    padding-top:0;

}
.father:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
.father>button{
    float:left;
    width:6%;
    color: #fff;
    margin-top: 9px;
    border-radius: 13px;
    margin-left: 19px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;

}
#btnRight{
    margin-top:-3px;
    margin-left:20px;
    color:black;
    line-height:21px;
    border-radius:8px;
    width:74px;
    color:black;
    font-size:12px;

}
#btnLeft{
    margin-top: -3px;
    margin-left: 20px;
    color: black;
    line-height: 21px;
    border-radius: 8px;
    width: 74px;
    color: black;
    font-size: 12px;

}
.label.label-info a{
    color: #ffffff;
}
#welcome{
    margin-right:15px;
    height:100%;
    margin-top:14px;
    font-size:15px;
    color:#222d32;
    text-decoration:none;

}
#Left , #Right{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #fafafa;
    color: #666;
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
}
#Right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -1px;
}
.pager{height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    color: #2E6AB1;
    overflow: hidden;
    position:relative;
    bottom:10px;
}
.pager a{border:1px solid #ddd;color:#428bca;padding:6px 12px;text-decoration: none;}
.pager a.hover{background-color: #F7F7F7;color:#428bca;border-color:#ddd;}
.pager a.active{background-color: #428bca;
    border-color: #428bca;color:#FFF;}
.pager a.disabled{color:#C8CDD2;cursor:auto;}
.pager a:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}
.pager a:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
.fa.fa-dashboard{
    margin-right:6px;

}


