
.content input{
    display: inline-block;

}
#search{
    float:left;
    width: 20%;
    margin-left: 62%;
    margin-top: 1%;

}
.father{
    width:100%;
}
.box-body{
    padding-top:0;

}
.father:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
.father>button{
    float:left;
    width:6%;
    color: #fff;
    margin-top: 9px;
    border-radius: 13px;
    margin-left: 19px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;

}
#btnRight{
    margin-top:-3px;
    margin-left:20px;
    color:black;
    line-height:21px;
    border-radius:8px;
    width:74px;
    color:black;
    font-size:12px;

}
#btnLeft{
    margin-top: -3px;
    margin-left: 20px;
    color: black;
    line-height: 21px;
    border-radius: 8px;
    width: 74px;
    color: black;
    font-size: 12px;

}
.label.label-info a{
    color: #ffffff;
}
#welcome{
    margin-right:15px;
    height:100%;
    margin-top:14px;
    font-size:15px;
    color:#222d32;
    text-decoration:none;

}
