#turn{
    width: 9%;
    color: #fff;
    border-radius: 13px;
    margin-left: 6px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;

}
#TableAll tr th,td{
    width:50%;
    position:relative;



}
#TableAll tr button{
    position: absolute;
    right: 4%;
    bottom: 15%;
    height: 62%;
    font-size: 10px;
    line-height: 9px;
    display: none;
}

#TableAll tr input{
    outline:none;
    border:none;
    margin-left:5px;

}
#TableAll tr span{
    margin-left:12px;

}
.panel-group #notclick{
    margin-top:10px;
    float:right;
    width: 9%;
    color: #fff;
    border-radius: 13px;
    margin-right: 20px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;


}
#welcome{
    margin-right:15px;
    height:100%;
    margin-top:14px;
    font-size:15px;
    color:#222d32;
    text-decoration:none;
}
#TableTwo tr td{
    padding-left:27px;

}
#TableAll input{
    border:none;
    outline:none;
    margin-left:20px;
    width:150px;
}
.table-responsive .mailbox-messages span{
    float:right;
    margin-right:50%;
}

#tab_2 button{
    width: 14%;
    border-radius: 30px;
    padding: 3px 21px;
    font-size: 0.75rem;
    margin: 10% auto;
}

#target{
    width: 14%;
    border-radius: 30px;
    padding: 3px 21px;
    font-size: 0.75rem;
    margin: 20px auto;

}
.example-modal .modal {
    position: absolute;
    top: 500px;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}
.example-modal{
    display:none;
}
#keepWell{
    text-align:center;

}
.fa.fa-dashboard{
    margin-right:6px;

}

span.admin-details-message {
    font-size: 12px;
    color: red;
    display: none;
}

div.admin-btn {
    text-align: center;
}

button#remove {
    width: 14%;
    border-radius: 30px;
    padding: 3px 21px;
    font-size: 0.75rem;
    margin: 20px auto;
    display: none;
}

button#remove a{
    color: #444;
}
