#turn{
    width: 9%;
    color: #fff;
    border-radius: 13px;
    margin-left: 6px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;

}
#TableAll tr th,td{
    width:50%;
    position:relative;



}
#TableAll tr button{
    position: absolute;
    right: 4%;
    bottom: 15%;
    height: 62%;
    font-size: 10px;
    line-height: 9px;
}

#TableAll tr input{
    outline:none;
    border:none;
    margin-left:5px;

}
#TableAll tr span{
    margin-left:12px;

}
.panel-group #notclick{
    margin-top:10px;
    float:right;
    width: 9%;
    color: #fff;
    border-radius: 13px;
    margin-right: 20px;
    font-size: 0.75rem;
    line-height: 19px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;


}
#welcome{
    margin-right:15px;
    height:100%;
    margin-top:14px;
    font-size:15px;
    color:#222d32;
    text-decoration:none;

}
#TableTwo tr td{
    padding-left:27px;

}
