.content input{
    display: inline-block;

}
.father{
    margin-bottom:2%;

}
.father:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
#btnLeft{
    float:right;
    margin-top: 2%;
    color: #fff;
    width: 10%;
    border-radius: 13px;
    font-size: 0.75rem;
    background-color: #55acee;
    border: none;
    margin-right: 3%;

}
#btnRight{
    float:right;
    margin-top: 2%;
    color: #fff;
    width: 10%;
    border-radius: 13px;
    font-size: 0.75rem;
    background-color: #55acee;
    border: none;
    margin-right: 3%;

}
#welcome{
    margin-right:15px;
    height:100%;
    margin-top:14px;
    font-size:15px;
    color:#222d32;
    text-decoration:none;

}
#turn{
    float: left;
    margin-top: 2%;
    color: #fff;
    width: 12%;
    padding: 8px 17px;
    border-radius: 16px;
    font-size: 0.75rem;
    background-color: #55acee;
    border: none;
    margin-left: 2%;

}
#Table .lt{
    margin-left:10px;

}
#Table .rg{
    margin-right:10px;


}

.lt{
    float:left;

}
.rg{
    float:right;
}
#eacl{
    width:417px;
    background-color:#fff;
    margin-top:26%;
    min-height:50%;
    padding:12px 20px;
    margin-left:17%;
    display:none;

}


#eacl:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

#eacl [type="btn"]{
    width: 24%;
    float: left;
    margin-left: 49px;
    border-radius: 8px;
    font-size: 12px;

}
.pager{height:30px;line-height:30px;font-size: 14px;margin: 25px 14px;text-align: right;color: #2E6AB1;overflow: hidden;position:relative;bottom:10px;}
.pager a{border:1px solid #aaa;color:#2E6AB1;margin:5px;padding:4px 11px;text-decoration: none; border-radius:3px;}
.pager a.hover,.pager a.active{background-color:#2E6AB1;border-color:#000080;color:#FFF;}
.pager a.disabled{color:#C8CDD2;cursor:auto;}

