#Table{
    width:100%;
    padding:4%;

}
#Table td{
    padding:10px 10px;
}
#Table input{
    width:90%;
    height:25px;

}
#Table img {
    height:120px;
    width:100px;

}
#Table .lf{
    width:12%;
    text-align:center;

}
.light select{
    width:90%;
    height:25px;
    margin-top: 14px;

}
.fight select{
    width:41%;
    height:25px;
    float:left;
    margin-right:8%;

}
#Table textarea{
    width:90%;
    margin-top:3%;

}
.aight{
    padding-left:6%;

}
.aight button{
    margin-left: 6%;
    border-radius: 13%;
    width: 86px;
    font-size: 0.75rem;

}
#Upload{
    width: 14%;
    border-radius: 30px;
    padding: 3px 21px;
    font-size: 0.75rem;
    margin: 1% auto;

}
#turn{
    padding: 6px 24px;
    border-radius: 13px;
    margin-left: 10px;
    font-size: 0.75rem;
    line-height: 18px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;
    margin-top: 8px;
    margin-left: 28px;

}
