#keep{
    float:right;
    margin-right:56px;
}
#addImgs{
    margin-top:34px;
    margin-left:10px;
}
.addImg{
    line-height:105px;
    text-align:center;
}

#addImgs span{
    margin-left:-4px;
}
#inputGroup{
    margin-top:15px;
    margin-left:10px;
    width:94%;

}
.father{
    padding-top:45px;
    border-top:1px solid #aaa;
    margin-top:45px;
    margin-left:10px;
    width:94%;

}
.input-group{
    margin-top:10px;


}
.form-control.address{
    width:85%;

}
.input-group span{
    cursor: pointer;
    margin-left:25px;
    color:#3c8dbc;

}
.input-group span:hover{
    color:#6aaed6;

}
#addgr{
    display: none;
    padding: 3px 20px;
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    background-color: #55acee;
    border: none;
    border: 20px;
    float:right;
    margin-top:20px;
    margin-right: 43px;

}
.box.box-info{
    height:562px;

}
.imgBox{
    float: left;
    position: relative;
    z-index: 99;
}

div.form-group {
    margin: 0;
}

div.eacho {
    text-align: center;
    line-height: 50px;
}

div.modal-content {
    width: 450px;
}

div.modal-footer .btn-cancel {
    float: right;
    margin-right: 1%;
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    padding: 6px 36px;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
}

div.modal-footer .btn-sure {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    float: left;
}



