@main("财务管理-历史记录", "manage.index","finance") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/controller/manage.css")">
} {

    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/manage"><i class="fa fa-video-camera"></i>财务管理</a></li>
                <li><a class="turn"  href="javascript:;">商户详情</a></li>
                <li><a href="javascript:;">历史记录</a></li>
            </ol>
        </section>
        <section class="content" id="add">
            <div class="box box-info">
                <div class="box-header">
                    <a href="/Edit" class="btn btn-primary btn-lg turn" role="button" id="turns">返回</a>
                    <button class="btn btn-default btnLeft" id="btnRight">导出</button>
                </div>
                <div class="box-body">

                    <table class="table no-margin" id="Table">
                    </table>
                </div>
                <div class="dropdown pull-right" >
                    <nav>
                        <ul class="pagination">
                        </ul>
                    </nav>
                        <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
} {
    <script src="@routes.Assets.at("javascripts/controller/manage/history.js")"></script>
}