

@main("财务管理", "manage.index","finance") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-laptop"></i>财务管理</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">所有</a></li>
                            <li class=""><a href="#wait" data-toggle="tab" aria-expanded="false">待审批</a></li>
                            <li class=""><a href="#out" data-toggle="tab" aria-expanded="false">待结算</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="all">
                                <div class="box ">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="商户ID/商户全称">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default">导出</button>
                                                    <button type="submit" class="btn btn-default">新建</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>商户ID</th>
                                                        <th>商户全称</th>
                                                        <th>商户联系人</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="allManages">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="wait">
                                <div class="box ">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm" >
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="商户ID/商户全称">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default">导出</button>
                                                    <button type="submit" class="btn btn-default">新建</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>商户ID</th>
                                                        <th>商户全称</th>
                                                        <th>商户联系人</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="waitOutManages">

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="out">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm" >
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="商户ID/商户全称">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default">导出</button>
                                                    <button type="submit" class="btn btn-default">新建</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>商户ID</th>
                                                        <th>商户全称</th>
                                                        <th>商户联系人</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="manages">

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/manage/index.js")"></script>
}
