
@merchart_main("商户管理","merchart_index"){
     <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/Administrator.css")">
} {
    <div class="content-wrapper row">
                <section class="content">
                    <ol class="breadcrumb">
                        <li><a href="/merchart/index"><i class="fa fa-dashboard"></i>商户管理</a></li>
                    </ol>
                    <div class="box box-info">
                        <div class="father">
                        <div class="input-group input-group-sm" id="search">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="搜索">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-block btn-default">导出</button>
                        <button type="button" class="btn btn-default" id="newpage">新建</button>
                    </div>

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin" id="Table">
                                        <thead>
                                            <tr>
                                                <th>商户 ID</th>
                                                <th>商户全称</th>
                                                <th>商户联系人</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                    <!-- /.table-responsive -->
                            </div>
                                <!-- /.box-body -->
                                <!-- /.box-footer -->
                        </div>
                        <div class="jqueryPage" id="jqueryPage">
                        </div>
                            <!-- /.box -->
                    </div>
                        <!-- /.col -->
                </section>
        </div>
} {
    <script src="@routes.Assets.at("javascripts/jqueryPage.js")"></script>
    <script src="@routes.Assets.at("javascripts/merchart_index.js")"></script>


}
