@merchart_main("历史记录") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker3.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/history.css")">
} {

    <div class="content-wrapper row">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>商户管理</a></li>
                <li class="active"><a href="#">新增/编辑商户</a></li>
                <li class="active">历史记录</li>
            </ol>

                <!-- TABLE: LATEST ORDERS -->
            <div class="col-md-10 col-lg-7">
                <div class="box box-info">
                    <div class="table-responsive">
                        <div class="father">
                            <a href="/merchart/details" class="btn btn-default" id="turn">返回</a>
                           <button type="button" class="btn btn-default" id="btnLeft">筛选</button>
                            <button type="button" class="btn btn-default" id="btnRight">导出</button>
                        </div>
                        <table class="table no-margin" id="Table">
                            <tr>
                                <td>
                                    <p style="height:36px;padding:10px">
                                        <span class="lt" id="Transfer">转账</span><span class="rg"id="add_rmb">+5元</span>
                                    </p>
                                    <p style="height:36px;padding:10px">
                                    <span class="lt">来源:</span><span class="lt" id="user_name">张三</span><span class="lt" id="Name">100001</span>
                                        <span class="rg" id="date">2015-10-11 12:14:34</span>
                                    </p>
                                </td>

                            </tr>
                        </table>


                    </div>
                    <div class="jqueryPage" id="jqueryPage">
                    </div>



                        <!-- /.col -->
        </section>
        <div id="eacl">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">日期</h3>
                </div>
                <div class="box-body">
                        <!-- Date -->
                    <div class="form-group">
                        <label>起始时间</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker">
                        </div>
                            <!-- /.input group -->
                    </div>
                        <!-- /.form group -->

                        <!-- Date range -->
                    <div class="form-group">
                        <label>结束时间</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="Kobe">
                        </div>
                            <!-- /.input group -->
                    </div>
                        <!-- /.form group -->

                        <!-- Date and time range -->

                </div>
                    <!-- Date and time range -->

                    <!-- /.form group -->



            </div>
            <button type="btn"class="btn btn-default">确定</button>
            <button type="btn"class="btn btn-default" id="clear">清除</button>
                <!-- /.box -->
        </div>
    </div>
    </div>
} {
                 <script src="@routes.Assets.at("javascripts/select2.full.min.js")"></script>
                 <script src="@routes.Assets.at("javascripts/jquery.inputmask.date.extensions.js")"></script>
                <script src="@routes.Assets.at("javascripts/jquery.inputmask.extensions.js")"></script>
                <script src="@routes.Assets.at("javascripts/jquery.inputmask.js")"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
                <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
                <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.zh-CN.js")"></script>
                <script src="@routes.Assets.at("javascripts/daterangepicker.js")"></script>
                <script src="@routes.Assets.at("javascripts/jqueryPage.js")"></script>
                <script src="@routes.Assets.at("javascripts/History.js")"></script>

}






