
@merchart_main("商户管理"){
     <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/Administrator.css")">
} {
    <div class="content-wrapper row">
                <section class="content">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>商户管理</a></li>
                    </ol>
                    <div class="box box-info">
                        <div class="father">
                            <input class="form-control" type="text" placeholder="商户ID/商户全称/商户联系人"/>
                            <input type="btn" class="btn btn-default" value="导出" id="btnLeft">
                            <input type="btn" class="btn btn-default" value="新建" id="btnRight">
                        </div>
                        <div class="box-header with-border">



                                <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>商户 ID</th>
                                                <th>商户全称</th>
                                                <th>商户联系人</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR9842</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-success">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#00a65a" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR1848</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-warning">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#f39c12" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR7429</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-danger">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#f56954" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR7429</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-info">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR1848</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-warning">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#f39c12" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR7429</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-danger">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#f56954" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="../pages/examples/invoice.html">OR9842</a></td>
                                                <td>水果店</td>
                                                <td><span class="label label-success">张三</span></td>
                                                <td>
                                                    <div class="sparkbar" data-color="#00a65a" data-height="20">营业中</div>
                                                </td>
                                                <td><span class="label label-info"><a href="/Edit">编辑</a></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- /.table-responsive -->
                            </div>
                                <!-- /.box-body -->
                                <!-- /.box-footer -->
                        </div>
                        <div class="dropdown pull-right" >
                            <nav>
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li class="disabled"><a href="#">&raquo;</a></li>


                                </ul>
                            </nav>
                        </div>
                            <!-- /.box -->
                    </div>
                        <!-- /.col -->
                </section>
        </div>
} {


}
