@merchart_main("投资人详情") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/EditTwo.css")">
} {

    <div class="content-wrapper row">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>商户管理</a></li>
                <li class="active">新增/编辑商户</li>
            </ol>

                <!-- TABLE: LATEST ORDERS -->
            <div class="col-md-10 col-lg-7">
                <div class="box box-info">
                    <div class="box-header with-border">


                            <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <a href="/List" class="btn btn-primary btn-lg active" role="button" id="turn">返回</a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2" id="shanghu">商户信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>商户ID:<span>12545454</span></td>
                                            <td>联系人:<span>张三</span></td>
                                        </tr>
                                        <tr>
                                            <td>联系方式:<span>215465456</span></td>
                                            <td>商店名称:<span>水果店</span></td>
                                        </tr>
                                        <tr>
                                            <td>商户地址:<span>第一大道</span></td>
                                            <td>收款账号:<span>1214354564</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered" id="two">
                                    <thead>
                                        <tr>
                                            <th colspan="2">收银信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>待结算:<span>124元</span></td>
                                            <td><a href="/History">查看历史记录</a></td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.box-body -->
                            <!-- /.box-footer -->
                    </div>
                </div>

                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </section>
    </div>
} {

}
