@merchart_main("投资人详情","merchart_index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/EditTwo.css")">
} {

    <div class="content-wrapper row">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href="/merchart/index"><i class="fa fa-dashboard"></i>商户管理</a></li>
                <li class="active">新增/编辑商户</li>
            </ol>

                <!-- TABLE: LATEST ORDERS -->
            <div class="col-md-12 col-lg-10">
                <div class="box box-info">
                    <div class="box-header with-border">


                            <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <a href="/merchart/index" class="btn btn-primary btn-lg active" role="button" id="turn">返回</a>
                                <table class="table table-bordered" id="Table_details">
                                    <thead>
                                        <tr>
                                            <th colspan="2" id="shanghu"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>商户ID: <span id="user_id"></td>
                                            <td>联系人:<input type="text" maxlength="10" id="user_name"></td>
                                        </tr>
                                        <tr>
                                            <td>联系方式:<input onkeyup="this.value=this.value.replace(/\D/g,'')"
                                            onafterpaste="this.value=this.value.replace(/\D/g,'')"  maxlength="11" id="tel">
                                            </td>
                                            <td>商店名称:<input type="text" maxlength="11" id="shop"></td>
                                        </tr>
                                        <tr>
                                            <td>商户地址:<input type="text" maxlength="25" id="address"></td>
                                            <td>收款账号:<input onkeyup="this.value=this.value.replace(/\D/g,'')"
                                            onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="20" id="account"></td>
                                        </tr>
                                        <tr>
                                            <td>商户账号:<input type="text" maxlength="25" id="address"></td>
                                            <td>商户密码:<input type="password" maxlength="10" class="ps" id="staff_password">
                                                <button type="button" class="btn btn-default" id="resetting">重置</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered" id="two">
                                    <thead>
                                        <tr>
                                            <th colspan="2">收银信息</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>待结算: <span id="money"></span>元</td>
                                            <td><a id="recording">查看历史记录</a></td>
                                        </tr>

                                    </tbody>

                                </table>
                                <button class="btn btn-block btn-default" id="keep">保存</button>
                            </div>
                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.box-body -->
                            <!-- /.box-footer -->
                    </div>
                </div>

                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </section>
        </div>

    <div class="example-modal">
        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">商户信息</h4>
                    </div>
                    <div class="modal-body">
                        <p id="keepWell">保存成功!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="confirm">确认</button>
                    </div>
                </div>
                    <!-- /.modal-content -->
            </div>
                <!-- /.modal-dialog -->
        </div>
            <!-- /.modal -->
    </div>


} {
    <script src="@routes.Assets.at("javascripts/merchart_details.js")"></script>
}
