@merchart_main("新增/编辑管理员","administrator_index"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/Compile.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/blue.css")">

} {
    <div class="content-wrapper row">
        <div id="error"></div>
        <section class="content" >
            <ol class="breadcrumb">
                <li><a href="/administrator/index"><i class="fa fa-dashboard"></i>管理员账号</a></li>
                <li class="active">新增/编辑管理员</li>
            </ol>

                <!-- TABLE: LATEST ORDERS -->
            <div class="col-md-12 col-lg-10">
                <div class="box box-info" >
                    <div class="box-header with-border">



                            <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <a href="/administrator/index" class="btn btn-default" id="turn">返回</a>
                                <h4>管理员信息</h4>
                                <table class="table table-bordered" id="TableAll">
                                    <thead>
                                        <tr>
                                            <th colspan="2"id="shanghu">管理员ID:<span id="admin_id"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>管理员密码:<input type="password" maxlength="10" class="ps" id="staff_password">
                                                <button type="button" class="btn btn-default" id="resetting">重置</button>
                                            </td>
                                            <td>管理员姓名: <input type="text" id="admin_name" maxlength="8"></td>
                                        </tr>
                                        <tr>
                                            <td>管理员联系方式: <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                            onafterpaste="this.value=this.value.replace(/\D/g,'')"  maxlength="11" id="admin_tel"></td>
                                        </tr>

                                    </tbody>
                                </table>
                                <span class="admin-details-message" id="admin_details_message">请输入正确的联系方式</span>

                                <h3>权限控制</h3>
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                </button>
                                <div class="table-responsive mailbox-messages">

                                    <table class="table table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox"  id="statistic"></td>
                                                <td class="mailbox-date"><span>统计</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="User_related"></td>
                                                <td class="mailbox-date"><span>用户相关</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Investor"></td>
                                                <td class="mailbox-date"><span>投资人管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Shareholder"></td>
                                                <td class="mailbox-date"><span>股东管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Mall_orders"></td>
                                                <td class="mailbox-date"><span>商城订单管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="goods_market"></td>
                                                <td class="mailbox-date"><span>商城货架</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Tripute"></td>
                                                <td class="mailbox-date"><span>贡品订单管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="goods_ticket"></td>
                                                <td class="mailbox-date"><span>门票管理todo</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="finance_approve"></td>
                                                <td class="mailbox-date"><span>财务审批</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Financial"></td>
                                                <td class="mailbox-date"><span>财务管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Activity"></td>
                                                <td class="mailbox-date"><span>活动审批</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="coupon"></td>
                                                <td class="mailbox-date"><span>优惠券</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="donate"></td>
                                                <td class="mailbox-date"><span>爱心捐赠</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Project"></td>
                                                <td class="mailbox-date"><span>项目审批</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Circle"></td>
                                                <td class="mailbox-date"><span>圈子审批</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Caishengu"></td>
                                                <td class="mailbox-date"><span>财神谷新闻</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Financing"></td>
                                                <td class="mailbox-date"><span>融资事件管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="Business"></td>
                                                <td class="mailbox-date"><span>创业头条管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="caishengu_trend"></td>
                                                <td class="mailbox-date"><span>动态</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="caishengu_introduction"></td>
                                                <td class="mailbox-date"><span>介绍</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="caishengu_live"></td>
                                                <td class="mailbox-date"><span>直播</span></td>
                                            </tr>


                                            <tr>
                                                <td><input type="checkbox" id="youfei_mobab"></td>
                                                <td class="mailbox-date"><span>邮费模板</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="caishen_xiang"></td>
                                                <td class="mailbox-date"><span>财神像</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="jieqian_guanli"></td>
                                                <td class="mailbox-date"><span>解签管理</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" id="gongpin_huojia"></td>
                                                <td class="mailbox-date"><span>贡品货架</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <!-- /.table -->
                                    <div class="admin-btn">
                                        <button class="btn btn-default btn-flat" id="target">保存</button>
                                        <button type="button" id="remove" class="btn btn-default"  data-toggle="modal" data-target="#myModal"><a>删除</a></button>
                                    </div>
                                </div>
                            </div>

                                <!-- /.table-responsive -->
                        </div>
                            <!-- /.box-body -->
                            <!-- /.box-footer -->
                    </div>
                </div>

                    <!-- /.box -->
            </div>
                <!-- /.col -->
        </section>
    </div>

    <div class="example-modal">
        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">商户信息</h4>
                    </div>
                    <div class="modal-body">
                        <p id="keepWell">保存成功!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="confirm">确认</button>
                    </div>
                </div>
                    <!-- /.modal-content -->
            </div>
                <!-- /.modal-dialog -->
        </div>
            <!-- /.modal -->
    </div>


    <div class="modal fade bs-example-modal-close" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myClose"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" id="closeName" class="btn btn-default btnList" data-dismiss="modal">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12 eacho">
                                <h4>确定删除该类别?</h4>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="clear">取消</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="comfirm">确定</button>
                </div>
            </div>
        </div>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/icheck.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/Compile.js")"></script>


}
