
@main("活动审批","event.index") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/event.css")">
} {

    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/event"><i class="fa fa-users"></i>活动</a></li>
                <li><a href="#"><i class="fa fa-users"></i>待审批活动详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="eventImg">
                        <p>活动海报</p>
                        <img id="poster" src="@routes.Assets.at("images/user2-160x160.jpg")">
                    </div>
                    <div class="eventNews">
                        <ul>
                            <li>开始时间：<span id="startDateTime"></span></li>
                            <li>结束时间：<span id="endDateTime"></span></li>
                            <li>举办地点：<span id="hostAddress"></span></li>
                            <li>举办方：<span id="host"></span></li>
                            <li>报名截止时间：<span id="limitDateTime"></span></li>
                            <li>限制人数：<span id="limitPerson"></span></li>
                            <li>简介：<span id="introduction"></span></li>
                        </ul>
                    </div>
                    <div class="eventMaster">
                        <ul>
                            <li>主办方联系人：<span id="contactPerson"></span></li>
                            <li>联系电话：<span id="contactPhone"></span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="noBtn" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/event/wait.js")"></script>
}


