
@main("活动审批","event.index") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/event.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/event"><i class="fa fa-users"></i>活动</a></li>
                <li><a href="#"><i class="fa fa-users"></i>已通过活动详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="eventImg">
                        <p>活动海报</p>
                        <img src="@routes.Assets.at("images/user2-160x160.jpg")">
                    </div>
                    <div class="eventNews">
                        <ul>
                            <li>开始时间：<span>2016.04.04 周六 14:00</></li>
                            <li>结束时间：<span>2016.04.04 周六 14:00</span></li>
                            <li>举办地点：<span>杭州市文二路华星大厦12楼</span></li>
                            <li>举办方：<span>杭州丽云集团</span></li>
                            <li>报名截止时间：<span>2016.04.04 周六 14:00</span></li>
                            <li>限制人数：<span>100人</span></li>
                            <li>简介：<span>我是简介</span></li>
                        </ul>
                    </div>
                    <div class="eventMaster">
                        <ul>
                            <li>主办方联系人：<span>张经理</span></li>
                            <li>联系电话：<span>2345678</span></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg pull-right">删除</button>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


