
@main("圈子管理", "round.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="row newsTop">
                <button type="button" class="btn btn-default col-md-2 col-lg-2"><a href="#">返回</a></button>
            </div>
            <div class="row">
                <div class="roundLogo">
                    <p>圈子Logo</p>
                    <img src="../dist/img/avatar.png">
                </div>
                <div class="roundNews">
                    <p>圈子信息</p>
                    <ul>
                        <li>圈子标题：<span>Touchjet</span></li>
                        <li>圈子类型：
                            <select class="form-control col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 pull-right ">
                                <option>类目1</option>
                                <option>类目2</option>
                                <option>类目3</option>
                            </select>
                        </li>
                        <li>圈主：<span>张三</span></li>
                        <li>圈子简介：<span>哇哇哇哇哇哇</span></li>
                    </ul>
                </div>
                <div class="row roundSub">
                    <button type="button" class="btn btn-primary col-md-2 col-lg-2 pull-right ">下线</button>
                    <button type="button" class="btn btn-default col-md-2 col-lg-2 pull-right ">保存</button>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


