
@main("圈子管理", "round.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/round.css")">
} {
    <div class="content-wrapper row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="row newsTop">
                <button type="button" class="btn btn-default col-md-2 col-lg-2"><a href="#">返回</a></button>
            </div>
            <div class="row">
                <div class="roundLogo">
                    <p>Logo</p>
                    <img src="../dist/img/avatar.png">
                </div>
                <div class="roundNews">
                    <p>圈子信息</p>
                    <ul>
                        <li>圈子标题：<span>Touchjet</span></li>
                        <li>圈子类型：
                            <select class="selectpicker col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
                                <option>类目1</option>
                                <option>类目2</option>
                                <option>类目3</option>
                            </select>
                        </li>
                        <li>圈主：<span>张三</span></li>
                        <li>圈子简介：<span>哇哇哇哇哇哇</span></li>
                    </ul>
                </div>
                <div class="row roundSub">
                    <button type="button" class="btn btn-primary col-md-2 col-lg-2 pull-right ">同意</button>
                    <button type="button" class="btn btn-default col-md-2 col-lg-2 pull-right " data-toggle="modal" data-target="#myModal">拒绝</button>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>
} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}


