
@main("圈子管理", "round.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="row newsTop">
                <button type="button" class="btn btn-default col-md-2 col-lg-1"><a href="/controller/round">返回</a></button>
                <button type="button" class="btn btn-default pull-right col-md-2 col-lg-1"><a href="#">保存</a></button>
            </div>
            <div class="row roundAdd">
                <p>类目名称</p>
                <form role="form">
                    <input type="text" class="form-control" placeholder="Text input">
                </form>
                <div class="row roundSub">
                    <button type="button" class="btn btn-primary col-md-2 col-lg-2 pull-right ">下线</button>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}

