
@main("圈子管理", "round.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/round.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/round"><i class="fa  fa-opera"></i>圈子审批</a></li>
                <li><a href="javascript:;">新增圈子类目</a></li>
            </ol>
        </section>
        <section class="content" id="add">
            <div class="box box-info">
                <div class="box-header">
                    <a class="btn btn-default" href="/round">返回</a>
                    <a id="addClass" class="btn btn-default pull-right" href="#">保存</a>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="spot">类目名称</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-tag"></i></button>
                            </div>
                            <input id="roundClass" type="text" class="form-control" placeholder="请输入类目名称">
                        </div>
                    </div>
                    <button id="classRound" type="button" class="btn btn-default col-md-1 col-lg-1 pull-right">下线</button>
                </div>
            </div>
        </section>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/round/manage.js")"></script>
}

