
@*usertype: 0:系统管理员 1:操作员*@
@(userType: Int)

<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/controller/stat">
                    <span>统计</span>
                </a>
            </li>
            @if(userType == 0) {
                <li class="treeview">
                    <a href="/controller/money/run">
                        <span>财务审批</span>
                    </a>
                </li>
            }

            <li class="treeview">
                <a href="/controller/money/manage">
                    <span>财务管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/user">
                    <span>用户相关</span>
                </a>
            </li>
            <li class="treeview active">
                <a href="/controller/investors">
                    <span>投资人管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/shareholder">
                    <span>股东管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <span>商城订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/controller/shopping">
                            <i class="fa fa-circle-o"></i>订单
                        </a>
                    </li>
                    <li>
                        <a href="/controller/shopping/frame">
                            <i class="fa fa-circle-o"></i>商城货架
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span>贡品订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/controller/tribute"><i class="fa fa-circle-o"></i>贡品</a></li>
                    <li>
                        <a href="/controller/tribute/frame">
                            <i class="fa fa-circle-o"></i>虚拟商城货架
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="/controller/event">
                    <span>活动审批</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/item">
                    <span>项目审批</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/round">
                    <span>圈子审批</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/csg">
                    <span>财神谷新闻</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/create">
                    <span>创业头条管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/borrow">
                    <span>融资事件管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/ticket">
                    <span>优惠券</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/controller/love">
                    <span>爱心捐赠</span>
                </a>
            </li>
        </ul>
    </section>
        <!-- /.sidebar -->
</aside>
