@main("贡品订单管理", "tribute.order") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/tribute.css")">
} {
    <div class="content-wrapper row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="tributeD">
            <div class="row">
                <p>订单信息</p>
                <div class="order">
                    <ul>
                        <li>
                            下单时间：<span>2013-03-01 12:12:12</span>
                        </li>
                        <li>
                            商品
                        </li>
                        <li class="commodity">
                            <span>财神饼</span>
                            <span>X1</span>
                        </li>
                        <li class="commodity">
                            <span>财神水</span>
                            <span>X2</span>
                        </li>
                    </ul>
                </div>
                <p>购买者</p>
                <div class="client">
                    <ul>
                        <li>
                            姓名：<span>张三</span>
                        </li>
                        <li>
                            联系方式：<span>12345678933</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>
} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}

