@main("贡品订单管理", "tribute.frame","goods_virtual") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/tribute.css")">
} {

    <div class="content-wrapper" >
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/tribute"><i class="fa fa-road"></i>贡品</a></li>
                <li><a href="/tribute/frame">虚拟商品货架</a></li>
                <li><a href="#">商品详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/tribute/frame">返回</a>
                <div class="box-body">
                    <div class="add">
                        <label>供桌图片</label>
                        <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress">

                                <div class="addImg" id="container">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>供桌文件</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="tribute-frame-detail-hint" id="tribute_frame_detail_gz_img">请上传供桌图片</span>
                    </div>
                    <div class="addNews">
                        <div class="form-group">
                            <label>货架图片</label>
                            <div role="tabpanel" id="addImgs_shelves" class="tab-pane fade in active" aria-labelledby="demo-tab">
                                <div  id="fsUploadProgress_shelves">

                                    <div class="addImg" id="container_shelves">
                                        <a id="pickfiles" href="#" >
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>货架文件</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_hj_img">请上传货架图片</span>
                        </div>
                        <div class="form-group">
                            <label>标题</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-map-signs"></i></button>
                                </div>
                                <input id="title_project" type="text" class="form-control" placeholder="项目名称">
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_name">请输入项目名称</span>
                        </div>
                        <div class="form-group">
                            <label>时效</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
                                </div>
                                <input id="title_time" type="text" class="form-control" placeholder="时效">
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_hint">请输入时效（正整数）</span>
                        </div>
                        <div class="form-group">
                            <label>人民币</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-cny"></i></button>
                                </div>
                                <input id="priceCoin" type="text" class="form-control" placeholder="金额">
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_coin">请输入金额（数字）</span>
                        </div>
                        <div class="form-group">
                            <label>积分</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-ruble"></i></button>
                                </div>
                                <input id="pricePoint" type="text" class="form-control" placeholder="金额">
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_point">请输入积分（正整数）</span>
                        </div>
                        <div class="form-group">
                            <label>货架图片所占格子大小</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-ruble"></i></button>
                                </div>
                                <input id="shelves_number" type="text" class="form-control" placeholder="请输入">
                            </div>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_shelves_number">请输入所占各自大小（正整数）</span>
                        </div>
                        <div class="form-group">
                            <label>备注</label>
                            <textarea id="introduction" class="form-control" rows="6"></textarea>
                            <span class="tribute-frame-detail-hint" id="tribute_frame_detail_textarea">请输入备注</span>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="closeGoods" class="btn btn-default col-md-1 col-lg-1 pull-right tribute-frame-detail-remove"  data-toggle="modal" data-target="#myModal"><a href="#">删除</a></button>
                        <button type="button" id="saveGoods" class="btn btn-default col-md-1 col-lg-1 pull-right"><a href="#">保存</a></button>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12 eacho">
                                    <h4>确定删除该类别?</h4>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="clear">取消</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="comfirm">确定</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- /.content -->
    </div>


} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/upload.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/tribute/frame_detail.js")"></script>
}
