@main("贡品订单管理", "tribute.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/tribute.css")">
} {



    <div class="content-wrapper" >
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/tribute"><i class="fa fa-road"></i>贡品</a></li>
                <li><a href="/tribute/frame">虚拟商品货架</a></li>
                <li><a href="#">商品详情</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/tribute/frame">返回</a>
                <div class="box-body">
                    <div class="add" id="images">
                        <p>图片</p>
                        <img src="#" alt="" />
                        <div class="addImg">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <a href="#">
                                    +
                                    <input type="file" name="" >
                                </a>

                            </form>
                        </div>
                    </div>
                    <div class="addNews">
                        <div class="form-group">
                            <label>标题</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-map-signs"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="项目名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>人民币</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-cny"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="金额">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>财神币</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-ruble"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="金额">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>有效时间</label>
                            <div class="form-group">
                                <select class="form-control select2" >
                                    <option selected="selected">24小时</option>
                                    <option>12小时</option>
                                    <option>8小时</option>
                                    <option>3小时</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default col-md-1 col-lg-1 pull-right"><a href="#">删除</a></button>
                        <button type="button" class="btn btn-default col-md-1 col-lg-1 pull-right"><a href="#">保存</a></button>
                    </div>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/tribute/frame_detail.js")"></script>
}
