@main("贡品订单管理", "tribute.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/tribute.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-road"></i>贡品</a></li>
                <li><a href="#">虚拟商城货架</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" >
                            <div class="box-body">
                                <a href="#" data-toggle="modal" data-target=".bs-example-modal-add" class="btn btn-default btn-block margin-bottom ">新增分类</a>
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">分类</h3>
                                    </div>
                                    <div class="box-body no-padding">
                                        <ul class="nav nav-pills nav-stacked" id="allClass">
                                            <li class="active"><a href="#">全部</a></li>
                                            <li><button type="button" class="close">×</button><a href="#">新品</a></li>
                                            <li><button type="button" class="close">×</button><a href="#">爆款</a></li>
                                            <li><button type="button" class="close">×</button><a href="#">热销</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <div class="box-body">
                                <div class="box-header">
                                    <div class="input-group pull-right input-group-sm">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default">搜索</button>
                                            <button type="submit" class="btn btn-default">新建</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <colgroup>
                                            <col class="col-xs-7">
                                            <col class="col-xs-3">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>简介</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="@routes.Assets.at("images/user2-160x160.jpg")" />
                                                    <span>门票</span>
                                                    <span>￥50</span>
                                                    <span>50积分</span>
                                                </td>
                                                <td>
                                                    <span class="label label-info"><a href="#">下架</a></span>
                                                    <span class="label label-info"><a href="/shopping/frame/detail">编辑</a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="../dist/img/avatar.png" />
                                                    <span>门票</span>
                                                    <span>￥50</span>
                                                    <span>50积分</span>
                                                </td>
                                                <td>
                                                    <span class="label label-info"><a href="#">下架</a></span>
                                                    <span class="label label-info"><a href="/shopping/frame/detail">编辑</a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="../dist/img/avatar.png" />
                                                    <span>门票</span>
                                                    <span>￥50</span>
                                                    <span>50积分</span>
                                                </td>
                                                <td>
                                                    <span class="label label-info"><a href="#">下架</a></span>
                                                    <span class="label label-info"><a href="/shopping/frame/detail">编辑</a></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade bs-example-modal-add" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">分类管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="addName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" id="addClassName" class="btn btn-default btnList" data-dismiss="modal">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-close" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myClose"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" id="closeName" class="btn btn-default btnList" data-dismiss="modal">添加</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/tribute.js")"></script>
}
