@main("贡品订单管理", "tribute.frame") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/tribute.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-road"></i>贡品</a></li>
                <li><a href="#">虚拟商城货架</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" >
                            <div class="box-body">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">分类</h3>
                                    </div>
                                    <div class="box-body no-padding">
                                        <ul class="nav nav-pills nav-stacked" id="tributeClass">
                                            @*<li class="active"><button type="button" class="close">×</button><a href="#">香</a></li>*@
                                            @*<li><button type="button" class="close">×</button><a href="#">灯</a></li>*@
                                            @*<li><button type="button" class="close">×</button><a href="#">水果</a></li>*@
                                            @*<li><button type="button" class="close">×</button><a href="#">香</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <div class="box-body">
                                <div class="box-header">
                                    <div class="input-group pull-right input-group-sm">
                                        <input id="textGoods" type="text" name="table_search" class="form-control pull-right" placeholder="商品名称">

                                        <div class="input-group-btn">
                                            <button id="searchGoods" type="submit" class="btn btn-default">搜索</button>
                                            <a id="tributeAddDetail" class="btn btn-default" href="#">新建</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <colgroup>
                                            <col class="col-xs-7">
                                            <col class="col-xs-3">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>简介</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tributeContent">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
            </div>
        </section>
    </div>


    <div class="modal fade bs-example-modal-close" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myClose"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" id="closeName" class="btn btn-default btnList" data-dismiss="modal">添加</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/tribute.js")"></script>
}
