@main("优惠券", "ticket.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/ticket.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-cc-diners-club"></i>优惠券</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#rule" data-toggle="tab" aria-expanded="true">规则</a></li>
                            <li class=""><a href="#ticket" data-toggle="tab" aria-expanded="false">优惠券</a></li>
                            <li class=""><a href="#out" data-toggle="tab" aria-expanded="false">投放记录</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="rule">
                                <div class="box">
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>时间范围</th>
                                                        <th>充值金额</th>
                                                        <th>赠送优惠券</th>
                                                        <th>备注</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2013-5-6 —— 2014-6-7</td>
                                                        <td>100</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <select class="form-control select2" >
                                                                    <option selected="selected">Alabama</option>
                                                                    <option>Alaska</option>
                                                                    <option>California</option>
                                                                    <option>Delaware</option>
                                                                    <option>Tennessee</option>
                                                                    <option>Texas</option>
                                                                    <option>Washington</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>仅限XX门店使用</td>
                                                        <td>
                                                            <span class="label label-info"><a href="#">删除</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <a href="javascript:void(0)" class="btn btn-md btn-default  pull-right">新增</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="ticket">
                                <div class="box">
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <colgroup>
                                                    <col class="col-xs-1">
                                                    <col class="col-xs-2">
                                                    <col class="col-xs-5">
                                                    <col class="col-xs-2">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>图片</th>
                                                        <th>券名</th>
                                                        <th>备注</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <form action="#" method="post" enctype="multipart/form-data">
                                                                <a href="javascript:;" class="file">上传
                                                                    <input type="file" name="" id="">
                                                                </a>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control formCenter inputLeft" placeholder="酒店券（最多20字)">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control formCenter inputLeft" placeholder="仅限XX门店使用（最多256字）">
                                                        </td>
                                                        <td>
                                                            <span class="label label-info"><a href="#">删除</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <a href="javascript:void(0)" class="btn btn-md btn-default  pull-right">新增</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="out">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control  pull-right" placeholder="请输入券名/被投放人/手机号">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>投放时间</th>
                                                        <th>券名</th>
                                                        <th>投放人</th>
                                                        <th>联系方式</th>
                                                        <th>状态</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2013-5-6</td>
                                                        <td>酒店券</td>
                                                        <td>张三</td>
                                                        <td>12345678933</td>
                                                        <td>已核销/未核销</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <a href="javascript:void(0)" class="btn btn-md btn-default  pull-right">新增</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>


} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}
