@main("优惠券", "ticket.index","coupon") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/ticket.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-cc-diners-club"></i>优惠券</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#rule" data-toggle="tab" aria-expanded="true">规则</a></li>
                            <li class=""><a href="#ticket" data-toggle="tab" aria-expanded="false">优惠券</a></li>
                            <li class=""><a href="#record" data-toggle="tab" aria-expanded="false">投放记录</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="rule">
                                <div class="box">
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>时间范围</th>
                                                        <th>充值金额</th>
                                                        <th>赠送优惠券</th>
                                                        <th>备注</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <a href="#" class="btn btn-md btn-default  pull-right" data-toggle="modal" data-target="#modelRule">新增</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="ticket">
                                <div class="box">
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>图片</th>
                                                        <th>券名</th>
                                                        <th>备注</th>
                                                        <th>有效时间</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <a href="#" class="btn btn-md btn-default  pull-right" data-toggle="modal" data-target="#modelTicket">新增</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="record">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input id="recordText" type="text" name="table_search" class="form-control  pull-right" placeholder="请输入券名/被投放人/手机号">
                                                <div class="input-group-btn">
                                                    <button id="recordSearch" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>投放时间</th>
                                                        <th>券名</th>
                                                        <th>投放人</th>
                                                        <th>联系方式</th>
                                                        <th>状态</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>

    <div class="modal fade" id="modelRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增规则</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>请选择时间</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="ruleDate" type="text" class="form-control pull-right">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>充值金额</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-cny"></i>
                            </div>
                            <input id="ruleMoney" type="text" class="form-control pull-right" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>赠送优惠券</label>
                        <div class="input-group" style="width: 100%;">
                            <select id="couponId" class="form-control" >
                                <option selected="selected">Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <input id="" type="text" class="form-control pull-right" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="ruleAdd" type="button" class="btn btn-default" data-dismiss="modal">新增</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modelTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增优惠券</h4>
                </div>
                <div class="modal-body" >
                    <div class="add">
                        <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress">

                                <div class="addImg btn btn-default" id="container">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传图片</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>券名</label>
                        <div class="input-group" >
                            <div class="input-group-addon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <input id="ticketName" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>有效时间</label>
                        <div class="input-group" >
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="validTime" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <div class="input-group">
                            <textarea id="remark" type="text" class="form-control" rows="4" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="ticketAdd" type="button" class="btn btn-default" data-dismiss="modal">新增</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/daterangepicker.js")"></script>

    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/ticket/index.js")"></script>
}
