
@main("财神谷介绍","introduce.index","caishengu_introduction") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/trends.css")">
} {
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/introduce"><i class="fa fa-university"></i>财神谷介绍</a></li>
                <li><a href="javascript:;">新增介绍</a></li>
            </ol>
        </section>
        <section class="content" id="add">
            <div class="box box-info">
                <div class="box-header">
                    <a class="btn btn-default pushTopBtn" href="/introduce" id="turn">返回</a>
                    <a id="addNews" class="btn btn-default pull-right pushTopBtn" href="#" >保存</a>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="spot">标题</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-tags"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="请输入标题" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="spot">链接地址</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-chain"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="请输入链接地址" id="address">
                        </div>
                    </div>

                    <div class="add">
                        <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress">
                                <div class="addImg btn btn-default" id="container">
                                    <a id="pickfiles" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传图片</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/upload.js")"></script>
    <script src="@routes.Assets.at("javascripts/introduce_add.js")"></script>
}

