@main("投资人管理", "investors.index","investor") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-send "></i>投资人管理</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#wait" data-toggle="tab" aria-expanded="true">待审批</a></li>
                            <li class=""><a href="#all" data-toggle="tab" aria-expanded="false">全部</a></li>
                            <li class=""><a href="#top" data-toggle="tab" aria-expanded="false">置顶</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="wait">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->

                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>公司</th>
                                                        <th>职位</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>红杉资本</td>
                                                        <td>投资经理</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="/investors/detail">查看</a></span>
                                                            <span class="label label-info"><a href="#">通过</a></span>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target="#myModal">
                                                                拒绝</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="all">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>公司</th>
                                                        <th>职位</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="sort">
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>红杉资本</td>
                                                        <td>投资经理</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="/controller/investors/wait">查看</a></span>
                                                            <span class="label label-info top"><a href="#" >置顶</a></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>红杉资本</td>
                                                        <td>投资经理</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="/controller/investors/wait">查看</a></span>
                                                            <span class="label label-info"><a href="#" >取消置顶</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="top">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>公司</th>
                                                        <th>职位</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="sort">
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>红杉资本</td>
                                                        <td>投资经理</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="/controller/investors/wait">查看</a></span>
                                                            <span class="label label-info top"><a href="#">置顶</a></span>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target=".bs-example-modal-top">上移</a></span>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target=".bs-example-modal-bottom">下移</a></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>红杉资本</td>
                                                        <td>投资经理</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="/controller/investors/wait">查看</a></span>
                                                            <span class="label label-info"><a href="#">取消置顶</a></span>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target=".bs-example-modal-top">上移</a></span>
                                                            <span class="label label-info"><a href="#" data-toggle="modal" data-target=".bs-example-modal-bottom">下移</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>

    <div class="modal fade bs-example-modal-top" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">上移位数</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">移动</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-bottom" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">下移位数</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default btnList" data-dismiss="modal">移动</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/investors/index.js")"></script>
}
