
@main("融资事件管理","borrow.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/borrow.css")">
} {

    <div class="content-wrapper ">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="row newsTop">
                <button type="button" class="btn btn-default pull-right col-md-2 col-lg-1"><a href="#">保存</a></button>
                <button type="button" class="btn btn-default col-md-2 col-lg-1"><a href="/controller/borrow">返回</a></button>
            </div>
            <div class="row logo">
                <p>Logo</p>
                <button type="button" class="btn btn-default col-md-3 col-lg-2"><a href="#">上传Logo</a></button>
            </div>
            <div class="row borrowCenter">
                <div class=" col-md-8 col-lg-8 pLeft">
                    <input type="text" class="form-control" placeholder="Text input">
                </div>
                <div class="col-md-6 col-lg-6 pLeft">
                    <select class="selectpicker ">
                        <option>请选择所属大类</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Relish</option>
                        <option>Relish</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 pLeft">
                    <select class="selectpicker ">
                        <option>请选择所属大类</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Relish</option>
                        <option>Relish</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 pLeft">
                    <select class="selectpicker ">
                        <option>请选择所属大类</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Relish</option>
                        <option>Relish</option>
                    </select>
                </div>
                <div class="col-md-12 col-lg-12 pLeft">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-default col-md-3 col-lg-2"><a href="#">上传介绍图</a></button>
            </div>
            <div class="row">
                <p>融资历史</p>
                <div class="col-md-4 col-lg-4">
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-4 col-lg-4">
                    <select class="form-control">
                        <option>请选择轮次</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="number" class="form-control" placeholder="请输入金额">
                </div>
            </div>
            <div class="row newsTop">
                <button type="button" class="btn btn-default pull-right col-md-3 col-lg-2"><a href="#">添加历史</a></button>
            </div>
        </div>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}
