@main("融资事件管理","borrow.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/borrow.css")">
} {

    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/borrow"><i class="fa fa-newspaper-o"></i>融资事件</a></li>
                <li><a href="#">新增融资事件</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-header">
                    <a class="btn btn-default" href="/borrow">返回</a>
                    <a id="addBorrow" class="btn btn-default pull-right" href="#">保存</a>
                </div>
                    <!-- /.box-header -->
                <div class="box-body">
                    <div class="add logoAdd">
                        <p class="spot">Logo</p>
                        <div role="tabpanel" id="addLogo" class="tab-pane fade in active" aria-labelledby="demo-tab">
                            <div  id="fsUploadProgress1">

                                <div class="addImg btn btn-default" id="container1">
                                    <a id="pickfiles1" href="#" >
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>上传Logo</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addForm">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">地区</button>
                            </div>
                                <!-- /btn-group -->
                            <input id="location" type="text" class="form-control" placeholder="请输入所在地区">
                        </div>
                        <div>
                            <div class="form-group">
                                <label>请选择所属大类</label>
                                <select id="classLevel1Id" class="form-control select2" >

                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>请选择所属小类</label>
                                <select id="classLevel2Id" class="form-control select2" >

                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>请选择当前轮次</label>
                                <select id="stageId" class="form-control select2" >

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>请输入项目详情</label>
                            <textarea class="form-control" rows="5" placeholder="项目详情…………"></textarea>
                        </div>
                        <div class="add">
                            <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                                <div  id="fsUploadProgress2">

                                    <div class="addImg btn btn-default" id="container2">
                                        <a id="pickfiles2" href="#" >
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>上传图片</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="history">
                        <p class="spot">融资历史</p>
                        <div>
                            <div class="form-group">
                                <label>请选择时间</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="reservation">
                                </div>
                                    <!-- /.input group -->
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>请选择轮次</label>
                                <select id="stageId2" class="form-control select2" >

                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">金额</button>
                            </div>
                                <!-- /btn-group -->
                            <input id="money" type="text" class="form-control" placeholder="请输入金额">
                        </div>
                    </div>
                    <div>
                        <a id="addBorrow" class="btn btn-default pull-right col-md-1 col-lg-1" href="#">添加历史</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/daterangepicker.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('#reservation').daterangepicker();
        })
    </script>
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/borrow/detail.js")"></script>
}
