@(userType: Int, selected: String)

@active(_selected: String) = {
@if(_selected == selected) {active}
    }

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview @active("merchart_index")">
                <a href="/merchart/index">
                    <i class="fa fa-share"></i> <span>商户管理</span>
                    <span class="pull-right-container">

                    </span>
                </a>
            </li>
                    <li class="treeview @active("administrator_index")">
                        <a href="/administrator/index">
                            <i class="fa fa-share"></i> <span>管理员账号</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                </ul>
    </section>
</aside>