@(userType: Int)

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/List">
                    <i class="fa fa-share"></i> <span>我的项目</span>
                    <span class="pull-right-container">

                    </span>
                </a>

                <ul class="sidebar-menu">

                    <li class="active treeview">
                        <a href="/Administrator">
                            <i class="fa fa-dashboard"></i> <span>我的活动</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
    </section>
</aside>