
@*usertype: 0:系统管理员 1:操作员*@
@(userType: Int, selected: String)

@active(_selected: String) = {
    @if(_selected == selected) {active}
}

<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview user-list-hide @active("statistics.index")" data-token="statistic">
                <a href="/statistics">
                    <i class="fa fa-pie-chart"></i>
                    <span>统计</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("approve.index")" data-token="finance_approve" >
                <a href="/approve">
                    <i class="fa fa-briefcase"></i>
                    <span>财务审批</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("manage.index")" data-token="finance">
                <a href="/manage">
                    <i class="fa fa-laptop"></i>
                    <span>财务管理</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("user.index")" data-token="user_related">
                <a href="/user">
                    <i class="fa fa-users"></i>
                    <span>用户相关</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("investors.index")" data-token="investor">
                <a href="/investors">
                    <i class="fa  fa-send "></i>
                    <span>投资人管理</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("shareholder.index")" data-token="shareholder">
                <a href="/shareholder">
                    <i class="fa fa-gg"></i>
                    <span>股东管理</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("shopping.index") @active("shopping.frame") @active("shopping.mail")" data-token="order">
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                    <span>商城</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@active("shopping.index")">
                        <a href="/shopping">
                            <i class="fa fa-circle-o"></i>订单
                        </a>
                    </li>
                    <li class="@active("shopping.frame")">
                        <a href="/shopping/frame">
                            <i class="fa fa-circle-o"></i>货架
                        </a>
                    </li>
                    <li class="@active("shopping.mail")">
                        <a href="/shopping/mail">
                            <i class="fa fa-circle-o"></i>邮费模板
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview user-list-hide @active("tribute.order") @active("tribute.frame")" data-token="goods_virtual">
                <a href="#">
                    <i class="fa fa-road"></i>
                    <span>贡品订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@active("tribute.order")"><a href="/tribute/order"><i class="fa fa-circle-o"></i>贡品</a></li>
                    <li class="@active("tribute.frame")">
                        <a href="/tribute/frame">
                            <i class="fa fa-circle-o"></i>虚拟商城货架
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview user-list-hide @active("event.index")" data-token="activity">
                <a href="/event">
                    <i class="fa  fa-support"></i>
                    <span>活动审批</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("item.index")" data-token="project">
                <a href="/item">
                    <i class="fa  fa-share-alt"></i>
                    <span>项目审批</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("round.index")" data-token="quanzi">
                <a href="/round">
                    <i class="fa fa-opera"></i>
                    <span>圈子审批</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("csgNews.index")" data-token="news_caishengu">
                <a href="/csg">
                    <i class="fa fa-newspaper-o"></i>
                    <span>财神谷新闻</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("create.index")" data-token="news_innovation">
                <a href="/create">
                    <i class="fa fa-file"></i>
                    <span>创业头条管理</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("borrow.index")" data-token="news_financing">
                <a href="/borrow">
                    <i class="fa fa-coffee"></i>
                    <span>融资事件管理</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("ticket.index")" data-token="coupon">
                <a href="/ticket">
                    <i class="fa fa-cc-diners-club"></i>
                    <span>优惠券</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("love.index")" data-token="donate">
                <a href="/love">
                    <i class="fa fa-heart"></i>
                    <span>爱心捐赠</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("trends.index")" data-token="caishengu_trend">
                <a href="/trends">
                    <i class="fa fa-flag"></i>
                    <span>财神谷动态</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("introduce.index")" data-token="caishengu_introduction">
                <a href="/introduce">
                    <i class="fa fa-university"></i>
                    <span>财神谷介绍</span>
                </a>
            </li>
            <li class="treeview user-list-hide @active("live.index")" data-token="caishengu_live">
                <a href="/live">
                    <i class="fa fa-video-camera"></i>
                    <span>财神谷现场直播</span>
                </a>
            </li>
        </ul>
    </section>
        <!-- /.sidebar -->
</aside>
