
@*usertype: 0:系统管理员 1:操作员*@
@(userType: Int, selected: String)

@active(_selected: String) = {
    @if(_selected == selected) {active}
}

<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview @active("stat.index")">
                <a href="/statistics">
                    <i class="fa fa-pie-chart"></i>
                    <span>统计</span>
                </a>
            </li>
            @if(userType == 0) {
                <li class="treeview @active("run.index")">
                    <a href="/run">
                        <i class="fa fa-briefcase"></i>
                        <span>财务审批</span>
                    </a>
                </li>
            }
            <li class="treeview @active("manage.index")">
                <a href="/manage">
                    <i class="fa fa-laptop"></i>
                    <span>财务管理</span>
                </a>
            </li>
            <li class="treeview @active("user.index")">
                <a href="/user">
                    <i class="fa fa-users"></i>
                    <span>用户相关</span>
                </a>
            </li>
            <li class="treeview @active("investors.index")">
                <a href="/investors">
                    <i class="fa  fa-send "></i>
                    <span>投资人管理</span>
                </a>
            </li>
            <li class="treeview @active("shareholder.index")">
                <a href="/shareholder">
                    <i class="fa fa-gg"></i>
                    <span>股东管理</span>
                </a>
            </li>
            <li class="treeview @active("shopping.index") @active("shopping.frame")">
                <a href="#">
                    <i class="fa  fa-cart-plus"></i>
                    <span>商城订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@active("shopping.index")">
                        <a href="/shopping">
                            <i class="fa fa-circle-o"></i>订单
                        </a>
                    </li>
                    <li class="@active("shopping.frame")">
                        <a href="/shopping/frame">
                            <i class="fa fa-circle-o"></i>商城货架
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview @active("tribute.order") @active("tribute.frame")">
                <a href="#">
                    <i class="fa fa-road"></i>
                    <span>贡品订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@active("tribute.order")"><a href="/tribute/order"><i class="fa fa-circle-o"></i>贡品</a></li>
                    <li class="@active("tribute.frame")">
                        <a href="/tribute/frame">
                            <i class="fa fa-circle-o"></i>虚拟商城货架
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview @active("event.index")">
                <a href="/event">
                    <i class="fa  fa-support"></i>
                    <span>活动审批</span>
                </a>
            </li>
            <li class="treeview @active("item.index")">
                <a href="/item">
                    <i class="fa  fa-share-alt"></i>
                    <span>项目审批</span>
                </a>
            </li>
            <li class="treeview @active("round.index")">
                <a href="/round">
                    <i class="fa  fa-cubes"></i>
                    <span>圈子审批</span>
                </a>
            </li>
            <li class="treeview @active("csg.index")">
                <a href="/csg">
                    <i class="fa fa-newspaper-o"></i>
                    <span>财神谷新闻</span>
                </a>
            </li>
            <li class="treeview @active("create.index")">
                <a href="/create">
                    <i class="fa fa-file"></i>
                    <span>创业头条管理</span>
                </a>
            </li>
            <li class="treeview @active("borrow.index")">
                <a href="/borrow">
                    <i class="fa fa-coffee"></i>
                    <span>融资事件管理</span>
                </a>
            </li>
            <li class="treeview @active("ticket.index")">
                <a href="/ticket">
                    <i class="fa fa-cc-diners-club"></i>
                    <span>优惠券</span>
                </a>
            </li>
            <li class="treeview @active("love.index")">
                <a href="/love">
                    <i class="fa fa-heart"></i>
                    <span>爱心捐赠</span>
                </a>
            </li>
        </ul>
    </section>
        <!-- /.sidebar -->
</aside>
