
p{
    font-size: 16px;
}
.raiseIn button{
    margin-bottom: 15px;
}
/*detailed*/
.detailedImg{
    font-size: 20px;
}
.detailedNews{
    font-size: 16px;
    margin-top: 20px;
}
.detailedNews ul{
    margin-bottom: 20px;
}
/*feedback*/
.feedback{
    border-top: 1px solid #000;
    padding-top: 20px;
}
/*add*/
.addNews{
    margin: 10px 0 30px -30px;
}
.addNews p{
    margin-top: 10px;
}