/*form.form-inline {
    margin-top: 20px;
}
.form-inline .form-group {
    width: 30%;
    margin-right: 6px;
}
.form-inline .form-control {
    width: 100%;
}
table.table {
    margin-top: 80px;
}*/