
@main("财神谷新闻","create.index") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/csg.css")">
} {

    <div class="content-wrapper row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <div class="row newsTop">
                <button type="button" class="btn btn-default pull-right col-md-2 col-lg-1"><a href="#">保存</a></button>
                <button type="button" class="btn btn-default col-md-2 col-lg-1"><a href="/controller/csg">返回</a></button>
            </div>
            <div class="row csgNewsAdd">
                <input type="text" class="form-control" placeholder="请输入链接">
                <div class="row">
                    <button type="button" class="btn btn-primary col-md-2 col-lg-2">上传图片</button>
                </div>
            </div>
        </div>
            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/home.js")"></script>
}

