
@main("股东管理", "shareholder.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/shareholder.css")">
} {
    <div class="content-wrapper ">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="#"><i class="fa fa-users "></i>股东管理</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#wait" data-toggle="tab" aria-expanded="true">待审批列表</a></li>
                            <li class=""><a href="#list" data-toggle="tab" aria-expanded="false">股东列表</a></li>
                            <li class=""><a href="#upload" data-toggle="tab" aria-expanded="false">上传文件</a></li>
                        </ul>
                        <div class="tab-content">
                                <!-- Font Awesome Icons -->
                            <div class="tab-pane active" id="wait">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input id="textShareholder" type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button id="searchShareholder" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>图片</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.box-footer -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="list">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <div class="input-group input-group-sm">
                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="手机号/姓名">

                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>姓名</th>
                                                        <th>联系方式</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>张三</td>
                                                        <td>12345678933</td>
                                                        <td>
                                                            <span class="label label-info"><a href="#">查看详情</a></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="upload">
                                <div class="box">
                                    <div class="box-header">
                                        <div class="box-tools">
                                            <form action="#" method="post" enctype="multipart/form-data">
                                                <a class="btn btn-default addImg" href="javascript:;">
                                                    点击上传文件(仅支持PDF文件)
                                                    <input type="file" name="picture" />
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                        <!-- /.box-header -->
                                    <div>
                                        <div class="callout">
                                            <p>
                                                文件名
                                                <span class="label label-info pull-right"><a href="#">删除</a></span>
                                            </p>
                                        </div>
                                        <div class="callout">
                                            <p>
                                                文件名
                                                <span class="label label-info pull-right"><a href="#">删除</a></span>
                                            </p>
                                        </div>
                                        <div class="callout">
                                            <p>
                                                文件名
                                                <span class="label label-info pull-right"><a href="#">删除</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- /.tab-content -->
                    </div>
                        <!-- /.nav-tabs-custom -->
                </div>
                    <!-- /.col -->
            </div>
                <!-- /.row -->
        </section>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写拒绝理由</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="noBtn" type="button" class="btn btn-default">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-look" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <img id="lookImg" src="" alt="" />
            </div>
        </div>
    </div>

} {
    <script src="@routes.Assets.at("javascripts/controller/shareholder/shareholder.js")"></script>
}


