/*上传*/
.box-header {
    margin-bottom: 0;
}

.add #addImgs img, .add #addLogo img {
    width: 100px;
    height: 120px;
}

#addImgs, #addLogo  {
    margin-bottom: 10px;
}

.add .imgBox {
    position: relative;
    z-index: 99;
}

.add #addImgs .addImg ,.add #addLogo .addImg{
    margin-top: 10px;
    border: 1px solid #d2d6de;
    width: auto;
    height: auto;
    line-height: inherit;
}

#fsUploadProgress1 .imgBox button, #fsUploadProgress2 .imgBox button {
    top: -6px;
    left: 88px;
    position: absolute;
}

#fsUploadProgress1 .imgBox {
    float: none;
}
#fsUploadProgress2 .imgBox{
    float: left;
}
/*addLogo*/
.content .logoAdd {
    margin-top: -15px;
    margin-bottom: 15px;
    min-height: 130px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}

.content .logoAdd p, .history p:first-of-type {
    font-size: 16px;
    font-weight: bold;
}
.content .logoAdd div#addLogo {

}

.addForm {
    border-bottom: 1px solid #f4f4f4;
}

.addForm .input-group, .addForm .form-group {
    width: 30%;
    margin-bottom: 10px;
}

.addForm textarea {
    width: 150%;
}

.history {
    width: 50%;
    margin-bottom: 20px;
}

.daterangepicker.opensleft:before {
    right: 9px;
    top: 310px;
    transform: rotateX(180deg);
}

.daterangepicker.opensleft:after {
    right: 10px;
    top: 310px;
    transform: rotateX(180deg);
}

