.box.box-info{
    border-top: 3px solid #00c0ef;
    padding: 12px;
}
img{
    width: 40px;
    height: 20px;
}
/*add*/
#add #addImgs img{
    width: 100px;
    height: 120px;
}
#add .imgBox{
    float: left;
    position: relative;
    z-index: 99;
}
#add #addImgs .addImg{
    margin-top: 10px;
    border: 1px solid #d2d6de;
    width:auto;
    height: auto;
    line-height: inherit;
}
#fsUploadProgress .imgBox button{
    top: -7px;
}
#fsUploadProgress .imgBox{
    float: none;
}
.form-group {
    margin-bottom: 10px;
    width: 30%;
}
.box-header {
    margin-bottom: 0;
}
#add .box-body{
    border-top: 1px solid #f4f4f4;
}