img{
	width: 40px;
	height: 30px;
	margin-top: -5px;
}
/*add*/
#add #addImgs img{
	width: 100px;
	height: 120px;
}
#add .imgBox{
	float: left;
	position: relative;
	z-index: 99;
}
#add #addImgs .addImg{
	margin-top: 10px;
	border: 1px solid #d2d6de;
	width:auto;
	height: auto;
	line-height: inherit;
}
#fsUploadProgress .imgBox button{
	position:relative;
	top: -7px;
	right:13px;
}
#fsUploadProgress .imgBox{
	float: none;
}
.form-group {
	margin-bottom: 10px;
	width: 30%;
}
.box-header {
	 margin-bottom: 0;
}
#add .box-body{
	border-top: 1px solid #f4f4f4;
}
.btn.btn-default.pull-right{
	padding: 3px 20px;
	color: #fff;
	margin-top: -5px;
	font-size: 12px;
	line-height: 19px;
	background-color: #55acee;
	border: none;
	border: 20px;

}
