.eventImg {
    border-bottom: 1px solid #d2d6de;
}

.eventImg img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 14px;
    margin-left: 10px;
}


.eventNews, .eventMaster {
    padding: 10px 0;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 10px;
    line-height: 26px;
}
.eventMaster {
    border-bottom: none;
    padding-top: 0;
}
#apply , #underway{
    display: none;
}