.row.event .eventImg{
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.eventNews, .eventMaster{
    margin: 20px 0;
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.eventMaster{
	border: none;
}
.event button.btn.btn-default.pull-right {
    margin-right: 20px;
}
.event .row{
    margin-right: 0;
}
.eventNews img{
    width: 120px;
    margin-right: 10px;
}
