img{
	height: 30px;
	margin: 5px;
	width: 30px;
	float: right;
}
/*基本信息*/
.basicNews ul{
	border: 1px solid #000;
}
.basicNews p,.investorsNews p{
	margin: 0 0 10px -16px;
    font-size: 24px;
}
.basicNews li,.investorsNews li{
	border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 20px;
    height: 44px;
    line-height: 44px;
}
.basicNews li:nth-of-type(even){
	border-right: none;
}
.basicNews li:last-child{
	border-bottom: none;
}
.basicNews li{
	float: left;
}
.investorsNews li{
	border: 1px solid #000;
	display: block;
}
button.btn.btn-default{
	padding: 10px 64px;
    margin: 28px -17px 0px 30px;
}
.investorsNews .example{
    border: none;
    background-color: #ecf0f5;
}
/*投资人信息*/
