#adds{
    float:right;
    margin-right:12px;
    padding: 6px 24px;
    border-radius: 13px;
    font-size: 0.75rem;
    line-height: 18px;
    margin-bottom: 8px;
    background-color: #55acee;
    border: none;
    color:#fff;

}