.box.box-info{
    border-top: 3px solid #00c0ef;
    padding: 12px;
}
.box.box-info img{
    width: 130px;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box.box-info .detailedImg{
    
}