
.modal-content img {
    width: 300px;
    height: 300px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 300px auto;
    }
}
#upload .box{
    padding: 0 20px;
}
#upload .box-header {
    margin-bottom: 0;
}
#upload .add{
    float: right;
    margin-right: -10px;
}
#upload .addImg {
     width: auto;
     height: auto;
     line-height: inherit;
    background: #eee;
    padding: 5px 40px;
    border-radius: 6px;
}

#fsUploadProgress .imgBox button{
    top: -7px;
}
#fsUploadProgress .imgBox{
    float: none;
}

#upload .callout {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0px 1px 1px;
}

#upload .callout p {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 8px;
}

#upload .box-header > .box-tools {
    position: initial;
    float: right;
}

#upload .label.label-info {
    margin-right: 10px;
    margin-top: 3px;
}