img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

td span {
    margin-right: 12px;
}
.box{
    margin-bottom: 0;
}
/*all*/
#all tbody tr th , #detail tbody tr th{
    font-weight: inherit;
}
/*wait*/
.btn-group-lg > .btn, .btn-lg {
    font-size: 14px;
    margin-left: 10px;
}

.box .order {
    padding-bottom: 12px;
}

.col-md-3.col-lg-3 div#external-events {
    margin-top: 10px;
}

td span {
    margin-right: 12px;
}

.order ul li {
    line-height: 26px;
    margin-left: 10px;
}

.order ul li i {
    margin-left: 15px;
    font-weight: bold;
}

/*frame*/
button#searchGoods {
    z-index: 3;
}
.box.box-solid {
    border: 1px solid #f4f4f4;
}

.box.box-solid .box-header.with-border {
    margin-bottom: 0;
}

button.btn.btn-default a {
    color: #444;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #000;
    background-color: #fff;
}

button.close {
    position: relative;
    z-index: 100;
    margin: 10px 10px;
    display: none;
}

#className li:hover button.close {
    display: block;
    opacity: 1.2;
}
table tbody tr td:last-child{
   padding-top: 12px;
}
/*frame-detail*/

.addNews {
    width: 40%;
    margin-bottom: 20px;
}

.addNews textarea {
    width: 120%;
}

button.btn.btn-default.col-md-1.col-lg-1.pull-right {
    margin-left: 16px;
}

#preview img {
    float: left;
    margin-right: 10px;
}
/*img*/
