input.form-control.formCenter.inputLeft {
    height: 25px;
    width: 80%;
    border-radius: 12px;
}
/*rule*/
select.form-control.select2 {
    width: 50%;
    height: 25px;
}
.daterangepicker.dropdown-menu.show-calendar.opensleft,.daterangepicker.dropdown-menu.show-calendar.opensright  {
    margin-top: 350px;
}
#modelRule .form-group {
    margin-bottom: 0;
    margin-bottom: 10px;
}
/*ticket*/
#ticket img{
    width: 30px;
    height: 30px;
    margin-top: -6px;
}
#modelTicket .form-group {
    margin-bottom: 0;
    margin-top: 10px;
}
#modelTicket .addImg {
     width: auto;
     height: auto;
     line-height: inherit;
}
#modelTicket input{
    width: 35%;
}
#modelTicket textarea{
    width:200%;
}
#fsUploadProgress .imgBox button {
    top: -7px;
}
.tab-pane .box {
    margin-bottom: 0;
}
.addImg {
    border: 1px solid #ddd;
}