img{
    width: 40px;
    height: 30px;
    margin-top: -5px;
}

/*add*/
.addImg {
    margin-top: 22px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
}

.addImg input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.form-group {
    width: 30%;
}
.box-header {
    margin-bottom: 0;
}
#add .box-body{
    border-top: 1px solid #f4f4f4;
}
.box-body form{
    margin-top: -10px;
}
