
/*返回*/
.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: initial;
    border-radius: 2px;
}
section.content-header {
    padding-bottom: 20px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}
table>tbody>tr>td{
    border-bottom: 1px solid #f4f4f4;
}

#add .box-header {
    border-bottom: 1px solid #f4f4f4;
}
#add .box-body {
    width: 40%;
}
/*点*/
.spot{
    font-weight: bold;
}
.spot:before {
    content: " ";
    height: 12px;
    width: 6px;
    background: #00c0ef;
    display: inline-block;
}
img{
    width: 40px;
    height: 30px;
    margin-top: -5px;
}

/*add*/
#add #addImgs img{
    width: 100px;
    height: 120px;
}
#addImgs{
    overflow: hidden;
}
#fsUploadProgress{
    float: left;
}
.imgBox{
    float: left;
    position: relative;
    z-index: 99;
}
#fsUploadProgress .imgBox button{
    position: absolute;
    z-index: 1000;
    top: -5px;
    right: 4px;
    color: #000;
    display: none;
}

#add #addImgs .addImg {
    margin-top: 10px;
    border: 1px solid #d2d6de;
    width: auto;
    height: auto;
    line-height: inherit;
}