img{
    width: 30px;
    height: 40px;
    margin-right: 12px;
}
td span {
    margin-right: 12px;
}
/*frame*/
.box.box-solid {
    border: 1px solid #f4f4f4;
}
.box.box-solid .box-header.with-border{
    margin-bottom: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
     color: #000;
     background-color: #fff;
}

button.close {
    position: relative;
    z-index: 100;
    margin: 10px 10px;
    display: none;
}
#allClass li:hover button.close{
    display: block;
    opacity: 1.2;
}
/*order*/
.box .order{
    padding-bottom: 12px;
}
.order ul li {
    line-height: 26px;
    margin-left: 10px;
}
.order ul li i {
    margin-left: 15px;
    font-weight: bold;
}
/*frame_detail*/

.addNews{
    width: 40%;
}
button.btn.btn-default.col-md-1.col-lg-1.pull-right {
    margin-left: 16px;
}