img{
    width: 30px;
    height:30px;
    margin-right: 12px;
}
td span {
    margin-right: 12px;
}
/*frame*/
.box-body {
    padding-top: 0;
}
.external-event.pull-left {
    margin-right: 10px;
}
button.close {
    margin-left: 10px;
}
.box-body div#external-events {
    margin-top: -10px;
}
.external-event.bg-light-blue.pull-left {
    height: 32px;
    width: 28px;
}
/*order*/
.box p {
    font-weight: bold;
}
p:before {
    content: " ";
    height: 12px;
    width: 6px;
    background: #00c0ef;
    display: inline-block;
}
.box .order{
    padding-bottom: 12px;
}
