
@main("爱心捐赠", "love.index") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/controller.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/controller/love.css")">
} {
    <div class="content-wrapper" id="feedback">
        <section class="content-header">
            <ol class="breadcrumb pull-left">
                <li><a href="/love"><i class="fa fa-heart"></i>爱心捐赠</a></li>
                <li><a href="#">爱心反馈</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <a class="btn turn" href="/love">返回</a>
                <div class="box-body">
                    <div class="add">
                        <div class="detailedImg">
                            <p>图片</p>
                            <img src="../dist/img/avatar.png">
                            <img src="../dist/img/avatar.png">
                            <img src="../dist/img/avatar.png">
                        </div>
                    </div>
                    <div class="box">
                        <p>项目名称</p>
                        <div class="order">
                            <ul>
                                <li>爱心午餐项目</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p>募集金额</p>
                        <div class="order">
                            <ul>
                                <li>3000/4000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p>简介</p>
                        <div class="order">
                            <ul>
                                <li>
                                    贵州大凉山区的孩子们经常吃不到温暖的午餐，我们发起一个爱心午餐项目，希望给
                                    孩子们带去温暖的午餐。
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <p>反馈</p>
                        <div id="preview" class="upload_preview"></div>
                        <div class="add">
                            <div role="tabpanel" id="addImgs" class="tab-pane fade in active" aria-labelledby="demo-tab">
                                <div  id="fsUploadProgress">

                                    <div class="addImg" id="container">
                                        <a id="pickfiles" href="#" >
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>选择文件</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right col-md-1 col-lg-1" id="fileSubmit"><a href="#">保存</a></button>
                </div>
            </div>
        </section>

            <!-- /.content -->
    </div>

} {
    <script src="@routes.Assets.at("javascripts/moxie.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plupload.full.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/qiniu.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/controller/love/love.js")"></script>
}


